/*ACERCA DE KONSCIO*/

.pasos {
  color: #6573c1;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
}
a.pasos:hover {
  color: #6573c1;
  text-decoration: underline;
}

.portadaAK {
  background-image: url("../img/AcercaDe/portadaAcercaK2.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
}
.textoPortadaAK {
  background-color: transparent;
  font-family: "FilsonPro-Black";
  height: 158px;
  width: 50%;
  font-size: 70px;
  line-height: 62px;
  text-align: left;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal;
  color: #6573c1;
  position: absolute;
  margin: 220px 0px 0 75px;
}

.listportada {
  padding: 370px 0 0 70px;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  text-align: center;
  align-items: flex-start;
  display: flex;
  position: relative;
  background-color: transparent;
  font-size: 20px;
  line-height: 25px;
  color: #6573c1;
}
.descripcionK {
  background-image: url("../img/AcercaDe/fondoBlancoHojas.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.encabezadoMK {
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: 100px;
}
.encabezado {
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: 0;
}

.h1AcercaDeKon {
  font-family: "FilsonPro-Black";
  color: #6573c1;
  font-size: 35px;
  line-height: 35px;
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-bottom: 60px;
}
.encabezadoMKN {
  margin-top: 137px;
}
.textQueesMK {
  font-family: "Montserrat-Regular";
  color: #000;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  margin-left: 13px;
  margin-right: 13px;
  padding-bottom: 60px;
}
.NivelesMK {
  background-image: url("../img/AcercaDe/fondoAzul.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -20px;
}

.colBracketMK {
  padding: 100px 0 40px 0;
  justify-content: space-around;
  display: flex;
}

.bracketMK1 {
  width: 85%;
  height: fit-content;
  position: relative;
  border-right: 1px solid white;
  border-left: 1px solid white;
  text-align: justify;
}
.bracketMK1 span.left:before {
  content: "";
  width: 7%;
  height: 1px;
  background: #b9b2c0;
  position: absolute;
}
.bracketMK1 span.right:before {
  content: "";
  width: 82%;
  height: 1px;
  background: #b9b2c0;
  position: absolute;
}
.bracketMK1 span.left:after,
.bracketMK1 span.right:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #b9b2c0;
  position: absolute;
}
.bracketMK1 span.left:before,
.bracketMK1 span.right:before {
  top: 0;
}
.bracketMK1 span.left:after,
.bracketMK1 span.right:after {
  bottom: 0;
}
.bracketMK1 span.left:after,
.bracketMK1 span.left:before {
  left: 0;
}
.bracketMK1 span.right:after,
.bracketMK1 span.right:before {
  right: 0;
}
.numMK {
  margin-top: -70px;
  font-family: "Montserrat-Black";
  font-size: 90px;
  text-align: center;
  color: white;
  margin-left: 8%;
}
.NivKonscioMK {
  margin-top: -30px;
  font-family: "FilsonPro-Regular";
  font-size: 27px;
  line-height: 27px;
  text-align: center;
  color: white;
  margin-left: 6%;
}
.nivelNomMK {
  font-family: "FilsonPro-Regular";
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
  margin-left: 4%;
  margin-top: -15px;
}
.sec4 {
  background-image: url("../img/AcercaDe/sec4.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 60px;
}
.sec5 {
  background-image: url("../img/AcercaDe/sec5.png");
  background-size: 100vw;
  height: 1000px;
  background-repeat: no-repeat;
}
.imgSec6 {
  margin-top: 90px;
  margin-left: 100px;
  width: 95%;
}
.textQueesMK1 {
  padding: 40px 100px 40px 0;
  font-family: "Montserrat-Regular";
  color: #fff;
  font-size: 15px;
  line-height: 26px;
  text-align: left;
}

.bracketMK2 {
  width: 85%;
  height: fit-content;
  position: relative;
  border-right: 1px solid white;
  border-left: 1px solid white;
  text-align: justify;
}
.bracketMK2 span.left:before {
  content: "";
  width: 82%;
  height: 1px;
  background: #b9b2c0;
  position: absolute;
}
.bracketMK2 span.right:before {
  content: "";
  width: 7%;
  height: 1px;
  background: #b9b2c0;
  position: absolute;
}
.bracketMK2 span.left:after,
.bracketMK2 span.right:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #b9b2c0;
  position: absolute;
}
.bracketMK2 span.left:before,
.bracketMK2 span.right:before {
  top: 0;
}
.bracketMK2 span.left:after,
.bracketMK2 span.right:after {
  bottom: 0;
}
.bracketMK2 span.left:after,
.bracketMK2 span.left:before {
  left: 0;
}
.bracketMK2 span.right:after,
.bracketMK2 span.right:before {
  right: 0;
}
.textQueesMK2 {
  padding: 20px 0 20px 100px;
  font-family: "Montserrat-Regular";
  color: #fff;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
}
.h1left {
  font-family: "FilsonPro-Black";
  color: #6573c1;
  font-size: 35px;
  line-height: 35px;
  font-weight: 900;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
}
.textLeft {
  font-family: "Montserrat-Regular";
  color: #000;
  font-size: 15px;
  line-height: 26px;
  text-align: justify;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 50px;
}
.imgSec4 {
  display: none;
}
.imgSec5 {
  display: none;
}
.videosPag {
  /*background-color: rgba(20, 36, 175, 0.5);*/
  /*padding: 105px 0 0 0 !important;*/
  background: #000;
  padding: 0 !important;
}
.videoWrapper iframe {
  height: 95% !important;
}
@media (max-width: 1024px) {
  .nivelNomMK {
    line-height: 45px;
    font-size: 35px;
  }
  .sec5 {
    height: 1200px;
  }
}

@media (max-width: 768px) {
  .portadaAK {
    background-image: url(../img/AcercaDe/portadaAcercaK.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
  }
  .textoPortadaAK {
    width: 60%;
    font-size: 48px;
    line-height: 48px;
    margin: 60px 0px 0 25px;
  }
  .h1left {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .listportada {
    padding: 180px 0 0 40px;
    font-size: 15px;
    line-height: 18px;
  }
  .encabezadoMK {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  .textQueesMK {
    font-size: 11px;
    line-height: 20px;
    padding-bottom: 40px;
  }
  .encabezadoMKN {
    margin-top: 37px;
  }
  .textQueesMK {
    padding-top: 0;
  }
  .colBracketMK {
    padding: 10px 0 90px 0;
  }
  .bracketMK1 span.left:before {
    width: 30%;
  }
  .bracketMK1 span.right:before {
    width: 30%;
  }
  .bracketMK2 span.left:before {
    width: 30%;
  }
  .bracketMK2 span.right:before {
    width: 30%;
  }
  .numMK {
    font-size: 80px;
    margin-left: 0;
  }
  .NivKonscioMK {
    font-size: 20px;
  }
  .nivelNomMK {
    font-size: 35px;
  }
  .textQueesMK1,
  .textQueesMK2 {
    padding: 10px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }

  .ordernum {
    order: 1;
  }
  .ordertexto {
    order: 2;
  }
  .textLeft {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    margin-bottom: 0;
    text-align: justify;
  }
  .sec4 {
    margin-top: 30px;
  }
  .sec5 {
    height: auto;
  }
  .imgSec6 {
    width: 95%;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 425px) {
  .portadaAK {
    background-image: url(../img/AcercaDe/portadaAcercaK.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px !important;
  }
  .h1AcercaDeKon {
    margin-top: 15px !important;
  }
  .pasos {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
  }
  .textoPortadaAK {
    width: 70% !important;
    font-size: 18px !important;
    line-height: 18px !important;
    margin: 60px 0px 0 25px !important;
  }
  .h1left {
    font-size: 25px !important;
    line-height: 25px !important;
    text-align: center !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
  }
  .listportada {
    padding: 110px 0 0 40px !important;
    font-size: 11px !important;
    line-height: 13px !important;
  }
  .encabezadoMK {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    text-align: center !important;
  }
  .textQueesMK {
    font-size: 11px !important;
    line-height: 20px !important;
    padding-bottom: 40px !important;
  }
  .encabezadoMKN {
    margin-top: 37px !important;
  }
  .textQueesMK {
    padding-top: 0 !important;
  }
  .colBracketMK {
    padding: 10px 0 90px 0 !important;
  }
  .bracketMK1 span.left:before {
    width: 30% !important;
  }
  .bracketMK1 span.right:before {
    width: 30% !important;
  }
  .bracketMK2 span.left:before {
    width: 30% !important;
  }
  .bracketMK2 span.right:before {
    width: 30% !important;
  }
  .numMK {
    font-size: 80px !important;
    margin-left: 0 !important;
  }
  .NivKonscioMK {
    font-size: 20px !important;
  }
  .nivelNomMK {
    font-size: 35px !important;
  }
  .textQueesMK1,
  .textQueesMK2 {
    padding: 10px !important;
    font-size: 12px !important;
    line-height: 25px !important;
    text-align: center !important;
  }

  .ordernum {
    order: 1 !important;
  }
  .ordertexto {
    order: 2 !important;
  }
  .textLeft {
    font-size: 12px !important;
    line-height: 20px !important;
    margin-bottom: 100px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 20px !important;
    margin-bottom: 0 !important;
    text-align: justify !important;
  }
  .sec4 {
    margin-top: 30px !important;
    background-image: none !important;
  }

  .imgSec4 {
    display: block !important;
    width: 90% !important;
  }
  .sec5 {
    height: auto !important;
    background-image: none !important;
  }
  .imgSec5 {
    display: initial !important;
    width: 80% !important;
  }
  .imgSec6 {
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
}

@media (max-width: 460px) {
  .portadaAK {
    background-image: url(../img/AcercaDe/portadaAcercaK.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px !important;
  }
  .textoPortadaAK {
    width: 60%;
    font-size: 45px;
    line-height: 48px;
    margin: 60px 0px 0 25px;
  }
  .h1AcercaDeKon {
    margin-top: 15px !important;
  }
  .pasos {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
  }
  .h1left {
    font-size: 25px !important;
    line-height: 25px !important;
    text-align: center !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 0 !important;
  }
  .listportada {
    padding: 180px 0 0 40px !important;
    font-size: 11px !important;
    line-height: 13px !important;
  }
  .encabezadoMK {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    text-align: center !important;
  }
  .textQueesMK {
    font-size: 11px !important;
    line-height: 20px !important;
    padding-bottom: 40px !important;
  }
  .encabezadoMKN {
    margin-top: 37px !important;
  }
  .textQueesMK {
    padding-top: 0 !important;
  }
  .colBracketMK {
    padding: 10px 0 90px 0 !important;
  }
  .bracketMK1 span.left:before {
    width: 30% !important;
  }
  .bracketMK1 span.right:before {
    width: 30% !important;
  }
  .bracketMK2 span.left:before {
    width: 30% !important;
  }
  .bracketMK2 span.right:before {
    width: 30% !important;
  }
  .numMK {
    font-size: 80px !important;
    margin-left: 0 !important;
  }
  .NivKonscioMK {
    font-size: 20px !important;
  }
  .nivelNomMK {
    font-size: 35px !important;
  }
  .textQueesMK1,
  .textQueesMK2 {
    padding: 10px !important;
    font-size: 12px !important;
    line-height: 25px !important;
    text-align: center !important;
  }

  .ordernum {
    order: 1 !important;
  }
  .ordertexto {
    order: 2 !important;
  }
  .textLeft {
    font-size: 12px !important;
    line-height: 20px !important;
    margin-bottom: 100px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 20px !important;
    margin-bottom: 0 !important;
    text-align: justify !important;
  }
  .sec4 {
    margin-top: 30px !important;
    background-image: none !important;
  }

  .imgSec4 {
    display: block !important;
    width: 90% !important;
  }
  .sec5 {
    height: auto !important;
    background-image: none !important;
  }
  .imgSec5 {
    display: initial !important;
    width: 80% !important;
  }
  .imgSec6 {
    width: 100% !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
  }
}
