/*ARTICULO*/

.imgportadaArticulo{
   /* background-image: url('../img/Articulo/portadaArt.png');
    background-size: cover;
    background-position:center;
    height: max-content;*/
    width: 100%;
    height: 80vh;
    object-fit: cover;
}
.contenidoArt{
    background-image: url('../img/Articulo/fondoArt.png');
    background-size: cover;
    background-position:center;
    height: max-content;
    
}
.contTit{
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-end;
}
.tituloArticulo{
    font-family: 'FilsonPro-Black';
    color: rgba(20, 36, 175, 0.5);
    font-size: 60px;
    line-height: 70px;
    text-align: left;
    margin: 25px 75px;
    width: 1040px;
}
.contArt{
    height: max-content;
}
.fechaArt{
    font-family: 'Montserrat-Regular';
    color: #636363;
    font-size: 18px;
    line-height: 29px;
    text-align: right;
    margin:20px 0;
}
.textoArticulo
{    
    background-color:transparent;   
    font-family: 'Montserrat-Regular';   
    font-size: 18px;
    line-height: 29px;
    text-align: left;    
    font-weight: normal;
    letter-spacing: normal;
    font-style: normal;
    color: #000;
   padding: 50px 0 50px 75px;
}
@media(max-width:1024px){
    .tituloArticulo {
        width: 750px;
    }
}
@media(max-width:460px){
    .tituloArticulo {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        margin-bottom: 90px;
        margin-left: 15px;
        width: 100%;
    }
    
 .textoArticulo {
    font-size  : 12px;
    line-height: 20px;
    padding    : 0 20px;
}  
    
}
   
@media(max-width:425px){
    .tituloArticulo {
        font-size: 20px;
        line-height: 30px;
        text-align: left;
        margin-bottom: 90px;
        margin-left: 15px;
        width: 100%;
    }
    
 .textoArticulo {
    font-size  : 12px;
    line-height: 20px;
    padding    : 0 20px;
}  
    
}
    