/*AUTORA*/
#link {
  color: #1424af;
  text-decoration: none;
}
.Autoraportada {
  width: 100vw;
  padding: 0 !important;
  letter-spacing: 0;
}
a.linkContacto {
  color: #000;
  text-decoration: none;
}

.FotoAutora {
  /* margin-top: -30px;
    width: 90%;*/

  margin-top: -20% !important;
  width: 80% !important;
}
.Autora {
  margin-top: 50px;
  margin-bottom: 30px;
}
.AutoraText {
  margin-right: 42px;
  margin-left: -90px;
  font-family: "Montserrat-Regular";
  font-size: 15px;
  line-height: 26px;
  color: #000;
  text-align: left;
  margin-top: 0;
}
.ondas {
  /*margin-top: -215px;*/
  margin-top: 0;
  width: 100%;
}
.ondas1 {
  width: 100%;
}



@media (max-width: 992px) {
  .AutoraText {
    margin-left: 0 !important;
  }
}
@media (max-width: 425px) {
  .h1Acercade {
    text-align: center;
    margin-left: 0;
  }
  .AutoraText {
    margin-right: 0;
    margin-left: 0;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    margin-top: 0;
  }
  .ondas {
    margin-top: 0;
    width: 100%;
  }
  .FotoAutora {
    margin-top: -30px;
    width: 90%;
    margin-left: 7%;
  }
}

@media (max-width: 768px) {
  .h1Acercade {
    text-align: center;
    margin-left: 0;
  }
  .AutoraText {
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    margin-top: 50px;
  }
  .ondas {
    margin-top: 0;
    width: 100%;
  }
  .FotoAutora {
    margin-top: -30px;
    width: 90%;
    margin-left: 7%;
  }
}
