
/*BLOG*/

.Blog{
    background-image: url('../img/Blog/fondoBlog.png');
    background-size: cover;
    background-position:center;
    width: 100vw;
} 
.h1Blog{
    font-family: 'FilsonPro-Black';
    color:#000;
    font-size: 70px;
    line-height: 60px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.topBlog{
    margin-top: 100px;
    margin-bottom: 100px;
}
.espacioBlog {
    margin-top: 130px;
}
.infoBlog{
    padding-right: 50px;
    padding-left: 40px;
}
.imgBlog{
    width:100%;
}
.nombreBlog{
    font-family: 'FilsonPro-Black';
    color: #4b4b4b;
    font-size: 30px;
    line-height: 40px;
    text-align: left;
    margin-bottom: 0 !important;
}
.fechaBlog{
    font-family: 'Montserrat-Regular';
    color: #636363;
    font-size: 18px;
    line-height: 29px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.resBlog{
    font-family: 'Montserrat-Regular';
    font-size: 18px;
    line-height: 29px;
    color:#000;    
    text-align: left;
}
.leermas{
    font-family: 'Montserrat-Medium';
    font-size: 18px;
    line-height: 29px;
    color: #3542bc;
    text-align: right;
    padding-top: 10px;
}
a.linkBlog{
    color:#3542bc;
}
@media(max-width:460px){
    .espacioBlog {
        margin-top: 100px;
    }
    .topBlog {
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .nombreBlog {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
}

@media(max-width:425px){
    .espacioBlog {
        margin-top: 100px;
    }
    .topBlog {
        margin-top: 30px;
        margin-bottom: 100px;
    }
    .nombreBlog {
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
}