/*CURSOS Y TALLERES*/
.modal-body .camposForm {
    width: 80%;
    height: 43px;
    padding: 13px 168px 12px 43px;
    border-radius: 21.5px;
    border: solid 2px #868686;
    background-color:  #fff;
    margin:auto;
    margin-bottom: 5%;
}
.modal-body .btnEnviar {
    width: 80%;
    height: 43px;
    border-radius: 26px;
    background-color: #3542bc;
    color: white;
    margin:auto;
    display: block;
}
.espacioCT {
    margin-top: 130px;
    margin-bottom: 0;
}
.h1CursosT{
    font-family: 'FilsonPro-Black';
    color:#000;
    font-size: 70px;
    line-height: 60px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.rectanguloCT{
        position: relative;
        border: 2px solid rgba(0, 0, 0, 0.15);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


@media(max-width:425px){
    .espacioCT {
        margin-top: 100px;}
}