/*EVENTOS*/

.HomeEventos {
  background-color: #d1d1d1;
}
.espacioEven {
  margin-top: 130px;
  margin-bottom: 0;
}
.h1Eventos {
  font-family: "FilsonPro-Black";
  color: #000;
  font-size: 70px;
  line-height: 60px;
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.rowEventos {
  padding: 50px 40px 80px 40px;
}
.rectanguloEventos {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  height: auto;
  display: flex;
  flex-direction: column;
}
.imgEvento {
  width: 100%;
}
.nomEvento {
  font-family: "FilsonPro-Bold";
  font-size: 21px;
  letter-spacing: 0;
  color: #3542bc;
  text-align: left;
  margin: 30px 30px 0 30px;
  line-height: 25px;
}
.calEvento {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 26px;
  color: #a1a1a1;
  text-align: left;
  margin: 15px 30px 0 30px;
}
.resEvento {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 26px;
  color: #474747;
  text-align: left;
  margin: 15px 30px 0 30px;
}

@media (min-width: 1900px) {
  .sec5 {
    background-size: 100vw;
    width: 100vw;
    height: 100vh;
  }
}

@media (max-width: 1024px) {
  .rectanguloEventos {
    height: 1400px;
  }
}
@media (max-width: 425px) {
  .espacioEven {
    margin-top: 100px;
  }
  .sec5 {
    background-size: 100%;
  }
}
