.bkg{
background-color: #F5F6FF;
}
.espacioLib{
    margin-top: 130px;
    margin-bottom: 0;
}
.h1Libros{
    font-family: 'FilsonPro-Black';
    color:#000;
    font-size: 70px;
    line-height: 60px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.imgCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgInicio{
    width:70%;
    margin-top: 50px;
}
.botonRegalo {
    font-family: 'Montserrat-SemiBold';
    width: 28%;
    
    height: auto;
    padding-top: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 26px;
    border: solid 1px white;
    background: #6573c1;
    margin-top: 100px;
}
.botonRegalo:hover {
    color: #6573c1;
    display: block;
    border-radius: 26px;
    border: solid 1px #6573c1;
    background: white;
}
.rowLibros{
    /* padding: 150px 40px 80px 40px; */
    padding: 40px;
}
.colLibros{
    padding: 20px;
}
.libro{
    display: flex;
    justify-content: center;
}
.imgLibros{
    /* width: 50%;
    height: 280px; */
    width: 164px;
    height: 263px;
}
.infoLibro{
    /* padding: 15% 15% 0 15%; */
    padding: 15% 5% 0 5%;
    
}
.iconoLibro{
    width:19%;
}
.nomLibro{
    padding: 15%;
}
.nomLibro{
    font-family: 'FilsonPro-Bold';
    font-size: 21px;
    letter-spacing: 0;
    color:#3542bc;
    text-align: left;
    line-height: 23px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}
.nomLibro_titulo{
    width: 70%;
    display: block;
}
.resLibro{
        font-family: 'Montserrat-Regular';
        font-size: 18px;
        line-height: 29px;
        color:#000;    
        text-align: left;
        padding-top: 15px;
}

.comprar{    
    display: block;
    margin-top: 10%;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.comprar img{
    max-width: 100%;
}


/****** LEER MAS / MENOS *********/

.description-section{
    width: 900px;
    max-width: 100%;
    margin: 20px auto 0;
    text-align: center;
    position: relative;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #000;
  }
  .description-section.all{
    max-height: 0;
  }
  .description-section.all.reading{
    max-height: 2500px; 
  }
  .read-more_btn,
  .read-less_btn{
    display: block;
    width: auto;
    margin: 20px auto 0;
    background: transparent;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #3542bc;
  }
  .d_none{
    display: none !important;
  }


/*********************************/

@media(min-width:1580px){

    .imgLibros {       
        height: 340px !important; 
      }
      
}
@media(max-width:1024px){
    
.imgLibros {
    width: 50%;
    height: 210px;
}
.rowLibros {
    padding: 70px 40px 80px 40px;
}
}
@media(max-width:768px){
    .espacioLib {
        margin-top: 80px;
        margin-bottom: 0;
    }
    .rowLibros {
        padding: 0;
    }
    .infoLibro {
            padding: 5% 10%;
    }
    .nomLibro {       
    font-size: 36px;
    line-height: 37px;
    }
    .resLibro {
        font-size: 20px;
        line-height: 22px;
        margin-top: -1%; }
    .espacioCT {
     margin-top: 100px;
    }
    .imgLibros {      
        width:35%; 
        height: 354px;
        margin: 70px 0 0 0;   
    }
    
.colLibros{
    padding: 0 5px;
}
.iconoLibro {
    width: 15%;
}
}
@media(max-width:460px)
{

    .botonRegalo {
        width: 85%;
        height: auto;
    }
    .espacioLib {
        margin-top: 80px !important;
        margin-bottom: 0 !important;
    }
    .rowLibros {
        padding: 0 !important;
    }
    .infoLibro {
        padding: 7% !important;
    }
    .nomLibro {
        font-size: 16px !important;
        line-height: 17px !important;
    }
    .resLibro {
        font-size: 13px !important;
        line-height: 20px !important;
        margin-top: 0 !important;
        
    }    
    .espacioCT {
     margin-top: 100px !important;
    }
    .imgLibros {
            width: 30%!important;
            height: auto!important;
    }
    
.colLibros{
    padding: 0 5px !important;
}



}
@media(max-width:425px){
    .espacioLib {
        margin-top: 80px !important;
        margin-bottom: 0 !important;
    }
    .rowLibros {
        padding: 0 !important;
    }
    .infoLibro {
        padding: 7% !important;
    }
    .nomLibro {
        font-size: 16px !important;
        line-height: 17px !important;
    }
    .resLibro {
        font-size: 13px !important;
        line-height: 20px !important;
        margin-top: 0 !important;
        
    }    
    .espacioCT {
     margin-top: 100px !important;
    }
    .imgLibros {
            width: 30%!important;
            height: auto!important;
    }
    
.colLibros{
    padding: 0 5px !important;
}
}
