.tituloVideo{
  font-family: 'Montserrat-Bold';
  font-size: 20px;
  line-height: 30px;
  color: rgba(20, 36, 175);
  text-align: center;
  margin-bottom: 110px;
  padding: 0 27px;
  margin-top: 15px;
}
.reticVideos{
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
   width: 91.6667%; 
   margin: 5vh auto;
}
.videoindi{
  margin-top: 4%;
  width: 30%;
}
.imgVideo{
  width: 100%;
  cursor: pointer;
}
#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  /*border: 2px solid #fff;
  background: #fff;*/
  border:none;
  background: transparent;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display: none;
}

.test:hover ~ .test2 {
  display: none;
}


@media(max-width:576px){
  
.reticVideos {
  margin-top: 40% !important;
}
  .videoindi{
    margin-top: -20%;
    width: 75%;
  }

  .tituloVideo{
    font-size: 13px;
    line-height: 23px;
  }
}