/*FUENTES*/
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Light.woff2") format("woff2"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("../fonts/Montserrat-ExtraLight.eot");
  src: url("../fonts/Montserrat-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"),
    url("../fonts/Montserrat-ExtraLight.woff") format("woff"),
    url("../fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight")
      format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("../fonts/Montserrat-Black.eot");
  src: url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat-Black.woff2") format("woff2"),
    url("../fonts/Montserrat-Black.woff") format("woff"),
    url("../fonts/Montserrat-Black.ttf") format("truetype"),
    url("../fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FilsonPro-Black";
  src: url("../fonts/FilsonPro-Black.eot");
  src: url("../fonts/FilsonPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonPro-Black.woff2") format("woff2"),
    url("../fonts/FilsonPro-Black.woff") format("woff"),
    url("../fonts/FilsonPro-Black.ttf") format("truetype"),
    url("../fonts/FilsonPro-Black.svg#FilsonPro-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FilsonPro-Regular";
  src: url("../fonts/FilsonPro-Regular.eot");
  src: url("../fonts/FilsonPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonPro-Regular.woff2") format("woff2"),
    url("../fonts/FilsonPro-Regular.woff") format("woff"),
    url("../fonts/FilsonPro-Regular.ttf") format("truetype"),
    url("../fonts/FilsonPro-Regular.svg#FilsonPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FilsonPro-Bold";
  src: url("../fonts/FilsonPro-Bold.eot");
  src: url("../fonts/FilsonPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/FilsonPro-Bold.woff2") format("woff2"),
    url("../fonts/FilsonPro-Bold.woff") format("woff"),
    url("../fonts/FilsonPro-Bold.ttf") format("truetype"),
    url("../fonts/FilsonPro-Bold.svg#FilsonPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato-Regular.ttf") format("truetype"),
    url("../fonts/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

strong,
b {
  font-family: "Montserrat-Black";
}

/*GENERALES*/
h1 {
  font-family: "FilsonPro-Black";
  color: #1424af;
  font-size: 40px;
  line-height: 40px;
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* .h1Acercade {
  font-family: "FilsonPro-Black";
  color: #1424af;
  font-size: 64px;
  line-height: 40px;
  font-weight: 900;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -90px;
} */
.h1Acercade {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -90px;
  font-family: "FilsonPro-Black";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 1;
  color: #3542bc;
}

.justify-content-center {
  justify-content: center !important;
  padding: 0 !important;
  margin: 0 auto;
}
.subAcercaDe {
  font-family: "FilsonPro-Black";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 26px;
  text-align: center;
  color: #6573c1;
  margin-top: 60px;
}
.subTerapias {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
  margin-top: 25px;
}
.txtTerapias,
.txtCV {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}

.contenido {
  padding: 0 !important;
}
a {
  color: white;
}
body {
  font-family: "Montserrat-Regular";
  padding: 0 !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/***** ESCRITORIO *****/

/*HEADER*/
.headerMenu {
  width: 100%;
  background-color: rgba(20, 36, 175, 0.5);
  position: fixed;
  z-index: 100;
  margin-top: 0%;
  text-align: end;
}

.headerMenu.scrolled {
  background-color: rgba(20, 36, 175, 1);
}
.liMenu {
  /* padding-left: 5px;*/
  padding-right: 0px !important;
  align-self: center;
}
.navbar-nav {
  padding-right: 33px;
}

.nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding-left: 0 !important;
  padding-right: 0.5rem !important;
}
a.nav-link:hover {
  color: #fff;
  text-decoration: underline;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0;
}
a.nav-link.active {
  text-decoration: underline;
}
/* .navbar .nav-item:hover .nav-link {
  text-decoration: underline;
} */
.headerMenu.scrolled .dropdown-menu {
  background-color: rgba(20, 36, 175, 1);
  width: 100%;
}

.dropdown-menu .navbar .nav-item:hover .nav-link {
  text-decoration: none;
}
.button.navbar-toggler {
  margin-right: 20px !important;
  background-color: #203842;
}
.bandera {
  width: 30%;
  margin-left: 15px;
  margin-right: -15px;
}
.idioma {
  font-family: "Montserrat-Medium";
  font-size: 10px;
  line-height: 10px;
  color: #fff;
  text-align: center;
  margin-left: 25px;
}
.dropdown-menu li{
  padding: 1% 5%;
 }
/*HOME PORTADA*/
.portada {
  background-image: url("../img/Home/Portada.png");
  background-size: cover;
  background-position: center;
  /*width: 100vw;
    height: 83vh;*/
  width: 100%;
  height: 100vh;
}
.videosPag {
  /*background-color: rgba(20, 36, 175, 0.5);*/
  /*padding: 105px 0 0 0 !important;*/
  background: #000;
  /*padding: 0 !important;*/
}
.videocontainer {
  /*position: absolute;*/
  position: initial;
  top: -1%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}
.videoWrapper {
  padding-bottom: 54.25%;
  padding-top: 25px;
  position: relative;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
.textoPortada {
  background-color: transparent;
  font-family: "Montserrat-Regular";
  height: 158px;
  width: 30%;
  font-size: 34px;
  line-height: 36px;
  text-align: left;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal;
  color: #fff;
  position: absolute;
  margin: 336px 0px 0 75px;
}
.verTerapias {
  width: 44%;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  color: #4f59c4;
  margin-top: 20px;
  display: block;
  border-radius: 26px;
  border: solid 1px #4f59c4;
}
.LogoPortada {
  width: 100%;
  margin-top: 43%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-right: 2%;
}
.TamLogo {
  width: 13%;
}
.encabezadoHome {
  margin-top: 150px;
  margin-bottom: 50px;
}
.encabezadoAutora {
  margin-top: 10%;
  margin-bottom: 8%;
}
.MetodoKonscioText {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  line-height: 35px;
  color: #000;
  text-align: center;
  margin-bottom: 110px;
  padding: 0 27px;
}
.Niveles {
  background-color: #6573c1;
}
.topNiveles {
  margin-top: 80px;
  margin-bottom: 180px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.rowBracket {
  /* padding: 80px 80px 110px 80px;*/
  padding: 0 5% 5% 5%;
}
.colBracket {
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.bracket {
  width: 85%;
  height: 150px;
  position: relative;
  /*margin: 50px;*/
  border-right: 1px solid white;
  border-left: 1px solid white;
  text-align: center;
}

.bracket span.left:before,
.bracket span.right:before {
  content: "";
  width: 80px;
  height: 1px;
  background: #b9b2c0;
  position: absolute;
}

.bracket span.left:after,
.bracket span.right:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #b9b2c0;
  position: absolute;
}
.bracket span.left:before,
.bracket span.right:before {
  top: 0;
}

.bracket span.left:after,
.bracket span.right:after {
  bottom: 0;
}

.bracket span.left:after,
.bracket span.left:before {
  left: 0;
}

.bracket span.right:after,
.bracket span.right:before {
  right: 0;
}
.num {
  margin-top: -70px;
  font-family: "Montserrat-Black";
  font-size: 90px;
  text-align: center;
  color: white;
}
.NivKonscio {
  margin-top: -30px;
  font-family: "FilsonPro-Regular";
  font-size: 27px;
  line-height: 27px;
  text-align: center;
  color: white;
}
.nivelNom {
  font-family: "FilsonPro-Regular";
  font-size: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
  margin-top: -20px;
}
.conocermas {
  font-family: "Montserrat-SemiBold";
  width: 200px;
  padding-top: 5px;
  height: 36px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: white;
  margin-top: 100px;
  display: block;
  border-radius: 26px;
  border: solid 1px white;
}

.HomeCursos {
  background-color: white;
}
.HomeTextCursos {
  font-family: "Montserrat-Regular";
  font-size: 20px;
  line-height: 35px;
  color: #000;
  text-align: center;
}
.encabezadoHCursos {
  margin-top: 100px;
  margin-bottom: 0;
}
.rowCursos {
  padding: 50px 40px 80px 40px;
}
.colCursos {
  padding: 20px;
}
.rectanguloCursos {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.15);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.rectanguloEventos {
  height: 750px;
}
.IconoCal {
  width: 7%;
  margin-top: -5px;
}
.imgCursos {
  width: 100%;
  height: 227px;
}
.nomCurso {
  font-family: "FilsonPro-Bold";
  font-size: 22px;
  letter-spacing: 0;
  color: #000;
  text-align: left;
  margin: 30px 30px 20px 30px;
  line-height: 25px;
  height: auto;
}
.calCurso {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 26px;
  color: #000;
  text-align: left;
  margin: 15px 30px 0 30px;
}
.resCurso {
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 26px;
  color: #474747;
  text-align: left;
  margin: 15px 30px 0 30px;
  height: min-content;
}
.inscribirme {
  font-family: "Montserrat-Medium";
  font-size: 15px;
  line-height: 26px;
  color: #4b4b4b;
  text-align: right;
  margin: 30px 30px 20px 30px;
  border-top: 2px solid #e0dfdf;
  padding-top: 20px;
}
a.linkCursos {
  color: #4b4b4b;
}

a.linkfooter {
  color: #000;
  text-decoration: none;
}

.pais a {
  display: flex;
  align-items: center;
  margin-left: auto;
  justify-content: right;
}

@media (max-width: 1950px) {
  .videoWrapper {
    padding-bottom: 55.35%;
  }
  .encabezadoHome {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .rectanguloCursos {
    height: auto;
  }
  .rectanguloEventos {
    height: 800px;
  }
}
@media (max-width: 1680px) {
  .videoWrapper {
    padding-bottom: 55.15%;
  }
  .videoWrapper iframe {
    height: 75% !important;
  }
  .videocontainer {
    top: -8% !important;
  }
}

@media (min-width: 1600px) {
  .liMenu {
    margin-left: 2vw;
  }
  .dropdown-menu .liMenu {
    margin-left: 0vw;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    left: 0px;
  }
}
@media (max-width: 1440px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.2rem !important;
    width: min-content;

    padding-right: 1.2rem !important;
  }
  .videoWrapper {
    padding-bottom: 54.25%;
  }
  .videocontainer {
    top: 0 !important;
  }

  .dropdown-menu .liMenu .nav-link {
    margin-left: 0vw;

    padding-left: 0.2rem !important;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    left: 16px;
  }
  .videoWrapper iframe {
    height: 88% !important;
  }
}

@media (max-width: 1280px) {
  .widthliMenu {
    width: 115px !important;
  }

  .textoPortadaAK {
    height: 158px;
    width: 100% !important ;
    margin: 220px 0px 0 0px;
    padding-left: 4% !important;
    margin-left: 0 !important;
  }
  .bandera {
    width: 30%;
    margin-left: 0;
    margin-right: 0;
  }
  .videoWrapper {
    padding-bottom: 54.25%;
  }
  .videocontainer {
    top: 0 !important;
  }

  .dropdown-menu .liMenu .nav-link {
    margin-left: 0vw;

    padding-left: 0.2rem !important;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    left: 0px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0rem !important;
    width: min-content;
  }
  .navbar-nav {
    padding-right: 33px;
  }
  .videoWrapper iframe {
    height: 90%;
  }
}
@media (max-width: 1024px) {
  .widthliMenu {
    width: min-content !important;
  }
  .bandera {
    width: 30%;
    margin-left: 0;
    margin-right: -15px;
  }
  .portada {
    height: 60vh !important;
  }
  .videocontainer {
    top: 0 !important;
  }
  .encabezadoHome {
    margin-top: 20%;
    margin-bottom: 0;
  }
  .MetodoKonscioText {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 0;
    padding: 25px 0;
  }
  .encabezadoAutora {
    margin-top: 10%;
    margin-bottom: 4% !important;
  }
  .bracket {
    width: 90%;
    height: 150px;
    position: relative;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    margin-top: 18%;
  }
  .bracket span.left:before,
  .bracket span.right:before {
    width: 60px;
  }
  .rectanguloCursos {
    height: auto;
  }
  .num {
    margin-top: -60px;
    font-size: 80px;
  }
  .NivKonscio {
    margin-top: -20px;
    font-size: 30px;
  }
  .nivelNom {
    font-size: 35px;
    margin-top: -2%;
  }
  .conocermas {
    margin-top: 5%;
  }
  .encabezadoHCursos {
    margin-top: 40px;
  }
  .HomeTextCursos {
    font-size: 17px;
    line-height: 25px;
  }
  .rowCursos {
    padding: 3% 5% 6% 5%;
  }
  .nomCurso {
    font-size: 25px;
    margin: 30px 20px 20px 20px;
    height: auto;
  }
  .calCurso {
    font-size: 16px;
    margin: 15px 20px 15px 20px;
  }
  .resCurso {
    font-size: 17px;
    line-height: 23px;
    margin: 0px 20px 0 20px;
    height: 750px;
  }

  .rowEventos {
    padding: 3% 5% 6% 5%;
  }
  .rectanguloEventos {
    height: 800px;
  }
  .nomEvento {
    font-size: 25px;
    line-height: 30px;
  }
  .calEvento {
    font-size: 16px;
    line-height: 21px;
  }
  .resEvento {
    font-size: 17px;
    line-height: 23px;
  }

  /*FOOTER*/
  .EncabezadoContacto {
    margin: 20px 0 !important;
    line-height: 30px !important;
    font-size: 24px !important;
  }

  .EncabezadoContacto img {
    width: 6% !important;
  }

  .infoContacto {
    margin: 0 !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .containFooter {
    margin: 0 !important;
    padding: 0 !important;
  }
  .camposContacto {
    margin-left: 0 !important;
  }
  .camposCal {
    margin-top: 20px !important;
  }
  .camposForm {
    width: 100% !important;
    padding: 13px 169px 12px 23px !important;
    font-size: 12px !important;
  }
  .btnEnviar {
    width: 100% !important;
  }
  .footerEnd {
    font-size: 8px !important;
    line-height: 9px !important;
    padding: 0 !important;
  }
  li.list-group-item {
    padding: 8px 6px !important;
  }

  .dropdown-menu .liMenu .nav-link {
    margin-left: 0vw;

    padding-left: 0.2rem !important;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    left: 0px;
  }
}

@media (max-width: 992px) {
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

    background-color: #1424af;
  }
  .h1Acercade {
    text-align: center;
    margin: 0 auto;
  }
  .textoPortadaAK {
    height: 158px;
    width: 100% !important;
    margin: 220px 0px 0 0px !important;
    padding-left: 4% !important;
  }
  .bandera {
    width: 20%;
    margin-left: 0;
    margin-right: -15px;
  }

  .pais a {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
  }
  .imgTest {
    width: 20% !important;
    margin: 15px 35px;
  }
  .justify-content-center {
    justify-content: center !important;
    padding: 0 10px !important;
    margin: 0 auto;
  }
  .FotoAutora1 {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .widthliMenu {
    width: auto !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.6rem !important;
    width: auto;

    text-align: center;
    white-space: pre-line;
  }
  .pais a {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: right;
    justify-content: center !important;
  }
  .navbar .dropdown-menu {
    text-align: right;
  }
  .videoWrapper {
    padding-bottom: 53.25%;
  }
  .logo {
    width: 40%;
  }
  .portada {
    width: 100% !important;
    height: 30vh !important;
  }
  nav.navbar.navbar-expand-lg.static-top {
    width: 100vw;
  }
  .nav-item {
    margin-left: 0;
    padding-left: 10px;
  }
  li.nav.item {
    padding-left: 10px;
  }
  .navbar-toggler-icon {
    background-color: #1424af;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
  .navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }
  .navbar-nav .nav-link {
    font-size: 17px;
    line-height: 19px;
    marker-end: 5px;
  }
  button.navbar-toggler {
    margin-right: 1% !important;
    background-color: transparent;
    border: transparent;
    width: 40px;
    height: 30px;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    background: #1424af;
    opacity: 0.8;
  }
  .bandera {
    width: 15%;
    margin: 5px;
    margin-left: 0;
    margin-right: 15px;
  }
  .idioma {
    margin-left: 0;
  }
  .videocontainer {
    top: 0 !important;
  }
  .textoPortada {
    font-size: 20px;
    line-height: 23px;
    margin: 155px 0px 0 5px;
  }
  .verTerapias {
    width: 74%;
    height: 30px;
    font-size: 15px;
    margin-top: 10px;
    padding-top: 2px;
  }
  .LogoPortada {
    width: 100%;
    margin-top: 41%;
  }
  .encabezadoHome {
    margin-top: 20%;
    margin-bottom: 0;
  }
  .MetodoKonscioText {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 0;
    padding: 25px 27px;
  }
  .encabezadoAutora {
    margin-top: 10%;
    margin-bottom: 4% !important;
  }
  .bracket {
    width: 65%;
    height: 190px;
    position: relative;
    border-right: 1px solid white;
    border-left: 1px solid white;
    text-align: center;
    margin-top: 18%;
  }
  .bracket span.left:before,
  .bracket span.right:before {
    width: 150px;
  }
  .rectanguloCursos {
    height: auto;
  }
  .num {
    margin-top: -60px;
    font-size: 80px;
  }
  .NivKonscio {
    margin-top: -20px;
    font-size: 30px;
  }
  .nivelNom {
    font-size: 65px;
    margin-top: 0;
  }
  .conocermas {
    margin-top: 20px;
  }
  .encabezadoHCursos {
    margin-top: 40px;
  }
  .HomeTextCursos {
    font-size: 17px;
    line-height: 25px;
  }
  .rowCursos {
    padding: 3% 5% 6% 5%;
  }
  .nomCurso {
    font-size: 25px;
    margin: 30px 30px 20px 30px;
    height: auto;
  }
  .calCurso {
    font-size: 16px;
    margin: 15px 30px 15px 30px;
  }
  .resCurso {
    font-size: 17px;
    line-height: 23px;
    margin: 0px 30px 0 30px;
  }
  .rowEventos {
    padding: 3% 5% 6% 5%;
  }
  .rectanguloEventos {
    height: 800px;
  }
  .nomEvento {
    font-size: 25px;
    line-height: 30px;
  }
  .calEvento {
    font-size: 16px;
    line-height: 21px;
  }
  .resEvento {
    font-size: 17px;
    line-height: 23px;
  }

  /*FOOTER*/
  .EncabezadoContacto {
    margin: 20px 0 !important;
    line-height: 30px !important;
    font-size: 24px !important;
  }

  .EncabezadoContacto img {
    width: 6%;
  }

  .infoContacto {
    margin: 0 !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .containFooter {
    margin: 0 !important;
    padding: 0 !important;
  }
  .camposContacto {
    margin-left: 0 !important;
  }
  .camposCal {
    margin-top: 20px !important;
  }
  .camposForm {
    width: 100% !important;
    padding: 13px 169px 12px 23px !important;
    font-size: 12px !important;
  }
  .btnEnviar {
    width: 100% !important;
  }
  .footerEnd {
    font-size: 8px !important;
    line-height: 9px !important;
    padding: 0 !important;
  }
  li.list-group-item {
    padding: 8px 6px !important;
  }

  .h1Acercade {
    margin-left: 0%;
    line-height: 1;
    color: #3542bc;
  }
}

.EncabezadoContacto img {
  width: 6%;
}

@media (max-width: 460px) {
  .widthliMenu {
    width: auto !important;
  }
  .portada {
    height: 27vh !important;
  }
  .videoWrapper {
    padding-bottom: 52.25% !important;
  }
  .nivelNom {
    font-size: 35px !important;
  }

  .EncabezadoContacto img {
    width: 6% !important;
  }
  .navbar-nav {
    padding-right: 33px;
    display: grid;
  }
  /**/
  div.navbar-collapse {
    right: -100%;
    top: 100%;
    position: absolute;
    height: auto;
    transition: none !important;
    animation: 0.3s slideIn ease-out normal;
    width: 60%;
  }
  div.navbar-collapse.show {
    right: 0;
  }
  .navbar-toggler-icon {
    border-radius: 7px;
    background-color: rgba(20, 36, 175, 1);
  }

  @keyframes slideIn {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }

  .bandera {
    width: 15%;
    margin-left: 0;
    margin-right: -15px;
  }
  .idioma {
    margin-left: 0;
  }
  .videocontainer {
    top: 0 !important;
  }
  .textoPortada {
    width: 34% !important;
    font-size: 11px !important;
    line-height: 13px !important;
    margin: 85px 0px 0 5px !important;
  }
  .pais a {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: right !important;
    padding-right: 1.2rem;
  }
  .verTerapias {
    width: 74% !important;
    height: 20px !important;
    font-size: 10px !important;
    margin-top: 10px !important;
    padding-top: 3px !important;
  }
  .LogoPortada {
    width: 100% !important;
    margin-top: 43% !important;
  }
  .encabezadoHome {
    margin-top: 40px !important;
    margin-bottom: 0 !important;
  }
  .MetodoKonscioText {
    font-size: 12px !important;
    line-height: 18px !important;
    margin-bottom: 0 !important;
    padding: 10px 27px !important;
  }
  .encabezadoAutora {
    margin-top: 10% !important;
    margin-bottom: 4% !important;
  }
  .bracket {
    width: 65% !important;
    height: 120px !important;
    margin-top: 18% !important;
  }
  .bracket span.left:before,
  .bracket span.right:before {
    width: 80px !important;
  }
  .rectanguloCursos {
    height: auto !important;
  }
  .num {
    margin-top: -50px !important;
    font-size: 60px !important;
  }
  .NivKonscio {
    margin-top: -30px !important;
    font-size: 20px !important;
  }
  .nivelNom {
    font-size: 35px !important;
  }
  .conocermas {
    margin-top: 20px !important;
  }
  .encabezadoHCursos {
    margin-top: 40px !important;
  }
  .HomeTextCursos {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .rowCursos {
    padding: 3% 5% 6% 5% !important;
  }
  .nomCurso {
    font-size: 18px !important;
    margin: 30px 30px 20px 30px !important;
    height: auto;
  }
  .calCurso {
    font-size: 12px !important;
    margin: 10px 30px 10px 30px !important;
  }
  .resCurso {
    font-size: 12px !important;
    line-height: 16px !important;
    margin: 0px 30px 0 30px !important;
    height: auto !important;
    padding-bottom: 10%;
  }
  .rowEventos {
    padding: 3% 5% 6% 5% !important;
  }
  .rectanguloEventos {
    height: 950px !important;
  }
  .nomEvento {
    font-size: 18px !important;
    line-height: 20px !important;
  }
  .calEvento {
    font-size: 14px !important;
    line-height: 26px !important;
  }
  .resEvento {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .imgCursos {
    width: 100% !important;
    height: auto !important;
  }
  /*FOOTER*/
  .EncabezadoContacto {
    margin: 20px 0 !important;
    line-height: 30px !important;
    font-size: 24px !important;
  }
  .infoContacto {
    margin: 0 !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .containFooter {
    margin: 0 !important;
    padding: 0 !important;
  }
  .camposContacto {
    margin-left: 0 !important;
  }
  .camposCal {
    margin-top: 20px !important;
  }
  .camposForm {
    width: 100% !important;
    padding: 13px 169px 12px 23px !important;
    font-size: 12px !important;
  }
  .btnEnviar {
    width: 100% !important;
  }
  .footerEnd {
    font-size: 8px !important;
    line-height: 9px !important;
    padding: 0 !important;
  }
  li.list-group-item {
    padding: 8px 6px !important;
  }
  .h1Acercade {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .justify-content-center {
    justify-content: center !important;
    padding: 0 20px !important;
    margin: 0 auto;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1.6rem !important;
    width: auto;

    text-align: right;
    white-space: pre-line;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 20px !important;
    line-height: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .videoWrapper {
    padding-bottom: 51.25% !important;
  }
  .logo {
    width: 40% !important;
  }
  .portada {
    width: 100% !important;
    height: 30vh !important;
  }

  div.navbar-collapse {
    right: -100%;
    top: 100%;
    position: absolute;
    height: auto;
    transition: none !important;
    animation: 0.3s slideIn ease-out normal;
    width: 60%;
  }
  div.navbar-collapse.show {
    right: 0;
  }
  .navbar-toggler-icon {
    border-radius: 7px;
    background-color: rgba(20, 36, 175, 1);
  }

  @keyframes slideIn {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }

  .bandera {
    width: 12%;
    margin: 5px;
    margin-left: 0;
    margin-right: 15px;
  }
  .idioma {
    margin-left: 0;
  }
  .videocontainer {
    top: 0 !important;
  }
  .textoPortada {
    width: 34% !important;
    font-size: 11px !important;
    line-height: 13px !important;
    margin: 85px 0px 0 5px !important;
  }
  .verTerapias {
    width: 74% !important;
    height: 20px !important;
    font-size: 10px !important;
    margin-top: 10px !important;
    padding-top: 3px !important;
  }
  .LogoPortada {
    width: 100% !important;
    margin-top: 43% !important;
  }
  .encabezadoHome {
    margin-top: 40px !important;
    margin-bottom: 0 !important;
  }
  .MetodoKonscioText {
    font-size: 12px !important;
    line-height: 18px !important;
    margin-bottom: 0 !important;
    padding: 10px 27px !important;
  }
  .encabezadoAutora {
    margin-top: 10% !important;
    margin-bottom: 4% !important;
  }
  .bracket {
    width: 65% !important;
    height: 120px !important;
    margin-top: 18% !important;
  }
  .bracket span.left:before,
  .bracket span.right:before {
    width: 80px !important;
  }
  .rectanguloCursos {
    height: auto !important;
  }
  .num {
    margin-top: -50px !important;
    font-size: 60px !important;
  }
  .NivKonscio {
    margin-top: -30px !important;
    font-size: 20px !important;
  }
  .nivelNom {
    font-size: 35px !important;
  }
  .conocermas {
    margin-top: 20px !important;
  }
  .encabezadoHCursos {
    margin-top: 40px !important;
  }
  .HomeTextCursos {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .rowCursos {
    padding: 3% 5% 6% 5% !important;
  }
  .nomCurso {
    font-size: 18px !important;
    margin: 30px 30px 20px 30px !important;
    height: auto;
  }
  .calCurso {
    font-size: 12px !important;
    margin: 10px 30px 10px 30px !important;
  }
  .resCurso {
    font-size: 12px !important;
    line-height: 16px !important;
    margin: 0px 0px 0 0px !important;
  }
  .rowEventos {
    padding: 3% 5% 6% 5% !important;
  }
  .rectanguloEventos {
    height: 830px !important;
  }
  .nomEvento {
    font-size: 18px !important;
    line-height: 20px !important;
  }
  .calEvento {
    font-size: 14px !important;
    line-height: 26px !important;
  }
  .resEvento {
    font-size: 12px !important;
    line-height: 16px !important;
  }
  .imgCursos {
    width: 100% !important;
    height: auto !important;
  }
  /*FOOTER*/
  .EncabezadoContacto {
    margin: 20px 0 !important;
    line-height: 30px !important;
    font-size: 24px !important;
  }
  .infoContacto {
    margin: 0 !important;
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .containFooter {
    margin: 0 !important;
    padding: 0 !important;
  }
  .camposContacto {
    margin-left: 0 !important;
  }
  .camposCal {
    margin-top: 20px !important;
  }
  .camposForm {
    width: 100% !important;
    padding: 13px 169px 12px 23px !important;
    font-size: 12px !important;
  }
  .btnEnviar {
    width: 100% !important;
  }
  .footerEnd {
    font-size: 8px !important;
    line-height: 9px !important;
    padding: 0 !important;
  }
  li.list-group-item {
    padding: 8px 6px !important;
  }
}

@media (max-width: 375px) {
  .portada {
    height: 25vh !important;
  }
  .rectanguloEventos {
    height: 880px !important;
  }
}
/*FOOTER*/
.contactanosForm {
  background-color: #fff;
  background-size: cover;
  margin: 0 !important;
}
.EncabezadoContacto {
  margin: 40px 0 0 50px;
  padding: 0%;
  font-family: "FilsonPro-Black";
  font-size: 34px;
  font-weight: 900;
  font-style: normal;
  line-height: 1.06;
  letter-spacing: normal;
  color: #616161;
}

.contenidoContacto {
  margin-top: 38px;
}
.infoContacto {
  margin: 25px 0 30px 50px;
  font-family: "Montserrat-Regular";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #616161;
}
#link {
  color: #1424af;
  text-decoration: none;
}
.camposContacto {
  margin-top: 17px;
  margin-left: 50px;
  font-family: "Lato-Regular";
  color: #1424af;
  font-size: 16px;
}
.camposCal {
  margin-top: 25px;
}
.camposForm {
  width: 410px;
  height: 43px;
  padding: 13px 168px 12px 43px;
  border-radius: 21.5px;
  border: solid 2px #868686;
  background-color: #fff;
  margin-bottom: 19px;
}
.btnEnviar {
  width: 410px;
  height: 43px;
  border-radius: 26px;
  background-color: #3542bc;
  color: white;
  margin-top: 7px;
}
.footerEnd {
  border-top: 1px solid;
  padding: 37px 0 37px 0;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #474747;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.list-group-item {
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: none;
}
ul .listportada {
  list-style-type: square !important;
  list-style-position: inside;
}

ul .footerEnd {
  list-style-type: none !important;
}

/*MENU despegable*/
.sidebar-nav {
  padding: 9px 0;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;  
  width: 100%;
}

.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

.navbar .dropdown-menu a {
  color: #fff;
  background-color: transparent;
  padding: 2px 5px !important;
}
.navbar .dropdown-menu {
  z-index: 1000;
  display: none;
  min-width: auto;
  padding: 0 !important;
  margin: 0;
  font-size: 1rem;
  color: #ffff;
  text-align: left;
  list-style: none;
  background-color: rgba(20, 36, 175, 0.5);
  background-clip: padding-box;
  border: 0px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.headerMenu.scrolled .dropdown-menu {
  background-color: rgba(20, 36, 175, 1);
  width: 100%;
}

@media screen and (max-width: 800px) {
  .navbar .dropdown-menu {
    z-index: 1000;
    display: block;
    min-width: auto;
  }
}
/*Duracion*/

.duracion {
  display: flex;
  justify-content: space-between;
}

.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type="checkbox"] {
  display: none;
}

.lbl-toggle {
  display: block;
  font-weight: bold;
  text-align: right;
  color: #3542bc;
  background: transparent;
  cursor: pointer;
  border-radius: 7px;
  width: auto;
  min-width: 25%;
  max-width: 40%;
  margin-left: auto;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 26px;
}

.collapsible-content {
  top: 0px;
  max-height: 0px;
  transition: max-height 0.35s ease-out;
  overflow: hidden;
}

.toggle:checked + .collapsible-content {
  max-height: 100vh;
  transition: max-height 0.35s ease-in;
}

.lbl-toggle:before {
  content: "Leer más";
}
.toggle:checked ~ .lbl-toggle:before {
  content: "Leer menos";
}

.lbl-toggle.ingles:before {
  content: "Read more";
}
.toggle:checked ~ .lbl-toggle.ingles:before {
  content: "Read less";
}

.conten {
  margin: 15px 30px 0 30px;
}
.container-fluid,
.Autoraportada {
  padding: 0 !important;
  margin: 0 auto !important;
}
.ondas1,
.ondas {
  width: 100%;
}
.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

p,
h1,
h2,
span {
  line-height: normal;
}
