
/*PREGUNTAS FRECUENTES*/
.PregYREsp{
    background-color: #f5f6ff;
}

.espacioPreg {
    margin-top: 130px;
}
.h1Preguntas{
    font-family: 'FilsonPro-Black';
    color:#000;
    font-size: 70px;
    line-height: 60px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.preguntas{
     padding: 70px 40px 100px 40px;
}
.preg{
    font-family: 'FilsonPro-Regular';
    font-size: 24px;
    color:#000;
}
.accordion-button:not(.collapsed) {
    color: #3542bc;
    background-color: #fff; 
   box-shadow: none; 
}
.accordion-body {
    padding: 1rem 1.25rem;
    font-size: 18px;
    line-height: 29px;
    font-family: 'Montserrat-Regular';
    font-style: normal;
}
.accordion-item {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125); 
    margin: 19px 0;
}
/*azul*/
.accordion-button:not(.collapsed)::after {
    background-image: url('../img/LogosIconos/Pregazul.png');
    transform: rotate(0deg);
}



.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url('../img/LogosIconos/PregGris.png');
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

@media(max-width:1024px){
    .preguntas {
        padding: 70px 0px 100px 0px;
    }
}
@media(max-width:460px){
    
.h1Preguntas{
    font-family: 'FilsonPro-Black';
    color:#000;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
    .imgLibros {width: 30%; height: 153px; }
    .espacioPreg {  margin-top: 100px;}
    .preguntas { padding: 20px; }
    .preg {   font-size: 15px;}
    .accordion-body { font-size: 12px; line-height: 15px;}
}

@media(max-width:425px){
    .imgLibros {width: 30%; height: 153px; }
    .espacioPreg {  margin-top: 100px;}
    .preguntas { padding: 20px; }
    .preg {   font-size: 15px;}
    .accordion-body { font-size: 12px; line-height: 15px;}
}