
/*TESTIMONIOS*/
.TestimoniosBack{
    background-color: #f5f6ff;
}
.espacioTest{
    margin-top: 130px;
    margin-bottom: 0;
}
.h1Testimonios{
font-family: 'FilsonPro-Black';
color:#000;
font-size: 70px;
line-height: 60px;
font-weight: 900;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
.testimonios{
padding: 40px 90px;
}
.testimonioIzq{
background-color: white;
padding: 0;
}
.testimonioDer{
background-color: white;
padding: 15px 15px;
}
.nomTest{
font-family: 'FilsonPro-Bold';
font-size: 21px;
color:#3542bc;
}
.imgTest{
width:60%;
margin: 15px 35px;
}
.imgComillas{
width: 5%;
margin: 15px 0;
}
.contTest{
width: 85%;
display: block;
margin-left: 2%;
}
.Comillas{    
font-family: 'Montserrat-Regular';   
font-size: 18px;
line-height: 29px;
color:#000;
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: stretch;
justify-content: flex-start;
align-items: flex-start; 
margin: 1% 3% 0 3%;
letter-spacing: 0.2px;
}
.testimonios_wrap .testimonios:nth-child(odd) {
margin-right: 10%;
}
.testimonios_wrap .testimonios:nth-child(even) {
margin-left: 10%;
}

@media(max-width:460px){
    
.h1Testimonios{
    font-family: 'FilsonPro-Black';
    color:#000;
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    }
    .espacioTest {  margin-top: 100px;}
    .testimonios { padding:0;  }
    .imgTest {  width: 30%; height:auto;}
    .nomTest { font-size: 16px;}
    .Comillas {font-size: 13px; line-height: 21px;margin:0;}
    .testimonios_wrap .testimonios:nth-child(odd) {
        margin-right: 0;
    }
    .testimonios_wrap .testimonios:nth-child(even) {
        margin-left: 0;
    }
    .testimonioIzq {
        display: flex;
        justify-content: center;}
    .testimonioDer {
    text-align: center;}
    
    }


@media(max-width:425px){
.espacioTest {  margin-top: 100px;}
.testimonios { padding:0;  }
.imgTest {  width: 30%; height:auto;}
.nomTest { font-size: 16px;}
.Comillas {font-size: 13px; line-height: 21px;margin:0;}
.testimonios_wrap .testimonios:nth-child(odd) {
    margin-right: 0;
}
.testimonios_wrap .testimonios:nth-child(even) {
    margin-left: 0;
}
.testimonioIzq {
    display: flex;
    justify-content: center;}
.testimonioDer {
text-align: center;}

}