$rosa: #F7B0C0;
$rosab: #f5949c;
.blog{
	.intro{
	> div, > div > div{
		position: relative;
	}
	.excerpt{
		position: absolute;
	    max-width: 100%;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    padding: 0 5%;
	    bottom: 0;
	    padding-bottom: 6%;
		h1.titulo{
			color:$rosa;
			line-height: 1em;
			font-size: 23px;
			text-transform: uppercase;
			height: auto;
			font-family: 'Proxima Nova B';
			padding-right:100px;
		}
		.fecha{
			font-size: 11px;
  			font-family: 'Proxima Nova Lt';
  			color: #fff;
		}
		p{
			font-family: 'Proxima Nova Lt';
			color: #fff;
			font-size: 13px;
			margin-bottom: 5px;
			line-height: 1.3em;
		}
		a{
			color: #fff;
			border: 1px solid #fff;
			border-radius: 5px;
			padding: 5px;
			font-size: 10px;
		}
	}
	.secundaria{
		-webkit-box-shadow: inset 0 -195px 55px -5px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: inset 0 -195px 55px -5px rgba(0, 0, 0, 0.6);
		box-shadow: inset 0 -195px 55px -5px rgba(0, 0, 0, 0.6);
	    height: 250px;
	    position:relative;
	    &:before{
	    	content: '';
	    	position:absolute;
	    	width: 100%;
	    	height: 100%;
	    	background: black;
	    	opacity: 0.2;
	    }
	    &:first-child{
	    	margin-bottom: 4px;
	    	@media (max-width: 767px){
	    		margin-bottom: 25px;
	    	}
	    }
	}
	.principal{
		-webkit-box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
		box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
		h1.titulo{
			font-size: 47px;
		}
		p{
			font-size: 18px;
		}
		@media (max-width: 767px){
			height: 450px;
		}
	}
}
.titulo{
	.hojitas{
		margin-right: 10px;
	    margin-top: -15px;
    	margin-bottom: 15px;
	}
	font-size: 18px;
	font-family: 'Proxima Nova B';
	.linea{
		height: 2px;
		background:#d5d5d6;
		width: 90%;
	}
	.txt{
		width: 30%;
		margin-right: 20px;
		@media (max-width: 767px){
			width: 100%;
		}
	}
}
.mas-visto{
	.titulo{
		.linea{
			width: 95%;
		}
		.txt{
			width: 20%;
			@media (max-width: 767px){
				width: 100%;
			}
		}

	}
	&.rel{
			.txt{
				width: 100%;
			}
			.linea{
				width: 100%;
			}
		}
}
.tag-w{
	.txt{
		@media (max-width: 767px){
			width: 10%;
		}
	}
}
.tags{
	a{
		padding:2px 7px;
		margin-right: 10px;
		margin-bottom: 10px;
		background:#f1f1f1;
		color: #333618;
		display: inline-block;
		font-family: 'Proxima Nova Lt';

	}
}
	.social{
		position:relative;
		left: auto;
		right: auto;
		width: 100%;
		text-align: center;
		margin-top: 80px;
	}
	.noticia{
		margin-bottom: 35px;
		.info{
			max-width: 90%;
			margin:0 auto;
			padding:15px 30px;
			margin-top: -60px;
			position:relative;
			z-index: 2;
			background:#fff;
			.titulo{
				color: $rosab;
				text-transform: uppercase;
				margin-bottom: 0;
				font-size: 16px;
				height: auto;
				line-height: 1.3em;
			}
			.fecha{
				font-size: 11px;
				text-transform: uppercase;
				margin-bottom: 20px;
			}
			p{
				font-size: 15px;
				margin-bottom: 0;
				line-height: 1.3em;
			}
			a{
				color: #e75025;
				font-family: 'Proxima Nova B';
				font-size: 11px;

			}
		}
		.foto{
			height: 235px;
		}

	}
	.pagination{
			.page-link{
				color: #f1f1f1;
				margin-right: 5px;
				border-radius:0!important;
				min-width: 30px;
				font-size: 15px;
				text-align: center;
				&:hover{
					background:#fff;
				}
			}
			.page-item.disabled .page-link{
				color: $rosa;
				border:1px solid $rosa;
			}
		}
	.banner{
		-webkit-box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
		-moz-box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
		box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
		min-height: 500px;
		h1.titulo{
			font-size: 47px;
			color: $rosa;
			height: auto;
			line-height: 1em;
			margin-bottom: 0;
		}
		.fecha{
			color: #fff;
			font-size: 12px;
			font-family: 'Proxima Nova Lt'
		}
		@media (max-width: 767px){
			height: 450px;
		}
	}
	.comparte{
		.linea{
			width: 100%;
			float: right;
			@media (max-width: 991){
				width: 100%;
			}
		}
		.txt{
			width: 70%;
			@media (max-width: 991){
				width: 50%;
			}
		}
	}
	.comparte-list{
		padding:0;
		li{
			width: 100%;
			list-style-type: none;
			margin-right: 2px;
			a{
			width: 100%;
			display: block;
			text-align: center;
			padding:15px;
			
			&:last-child{
				margin-right: 0;
			}
			color: #fff;
			line-height: 1em;
			&.fb{
				background:#3b5998;
				color: #fff;
			}
			&.tw{
				background:#00acee;
			}
			&.pi{
				background:#c8232c;
			}
			&.in{
				background:#0072b1;
			}
			}
			
		}
	}
	.post{
		.titulo{
			font-size:35px;
			line-height: 1.3em;
		}
		.txt{
			width: 100%;
			line-height: 1em;
			span{
				font-size: 12px;
				color: #9b9b9b;
				text-transform: uppercase;
				display: block;
				margin-bottom: 15px;
				margin-top: 5px;
				font-family: 'Proxima Nova Rg'
			}
		}
		.contenido{
			span{
				
			}
			p{
				font-family: 'Proxima Nova Rg';
				font-size: 15px;
				line-height: 1.5em;
			}
		}
	}
}
