.blog .intro > div, .blog .intro > div > div {
  position: relative; }

.blog .intro .excerpt {
  position: absolute;
  max-width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 5%;
  bottom: 0;
  padding-bottom: 6%; }
  .blog .intro .excerpt h1.titulo {
    color: #F7B0C0;
    line-height: 1em;
    font-size: 23px;
    text-transform: uppercase;
    height: auto;
    font-family: 'Proxima Nova B';
    padding-right: 100px; }
  .blog .intro .excerpt .fecha {
    font-size: 11px;
    font-family: 'Proxima Nova Lt';
    color: #fff; }
  .blog .intro .excerpt p {
    font-family: 'Proxima Nova Lt';
    color: #fff;
    font-size: 13px;
    margin-bottom: 5px;
    line-height: 1.3em; }
  .blog .intro .excerpt a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 10px; }

.blog .intro .secundaria {
  -webkit-box-shadow: inset 0 -195px 55px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 -195px 55px -5px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 -195px 55px -5px rgba(0, 0, 0, 0.6);
  height: 250px;
  position: relative; }
  .blog .intro .secundaria:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2; }
  .blog .intro .secundaria:first-child {
    margin-bottom: 4px; }
    @media (max-width: 767px) {
      .blog .intro .secundaria:first-child {
        margin-bottom: 25px; } }

.blog .intro .principal {
  -webkit-box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
  box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6); }
  .blog .intro .principal h1.titulo {
    font-size: 47px; }
  .blog .intro .principal p {
    font-size: 18px; }
  @media (max-width: 767px) {
    .blog .intro .principal {
      height: 450px; } }

.blog .titulo {
  font-size: 18px;
  font-family: 'Proxima Nova B'; }
  .blog .titulo .hojitas {
    margin-right: 10px;
    margin-top: -15px;
    margin-bottom: 15px; }
  .blog .titulo .linea {
    height: 2px;
    background: #d5d5d6;
    width: 90%; }
  .blog .titulo .txt {
    width: 30%;
    margin-right: 20px; }
    @media (max-width: 767px) {
      .blog .titulo .txt {
        width: 100%; } }

.blog .mas-visto .titulo .linea {
  width: 95%; }

.blog .mas-visto .titulo .txt {
  width: 20%; }
  @media (max-width: 767px) {
    .blog .mas-visto .titulo .txt {
      width: 100%; } }

.blog .mas-visto.rel .txt {
  width: 100%; }

.blog .mas-visto.rel .linea {
  width: 100%; }

@media (max-width: 767px) {
  .blog .tag-w .txt {
    width: 10%; } }

.blog .tags a {
  padding: 2px 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #f1f1f1;
  color: #333618;
  display: inline-block;
  font-family: 'Proxima Nova Lt'; }

.blog .social {
  position: relative;
  left: auto;
  right: auto;
  width: 100%;
  text-align: center;
  margin-top: 80px; }

.blog .noticia {
  margin-bottom: 35px; }
  .blog .noticia .info {
    max-width: 90%;
    margin: 0 auto;
    padding: 15px 30px;
    margin-top: -60px;
    position: relative;
    z-index: 2;
    background: #fff; }
    .blog .noticia .info .titulo {
      color: #f5949c;
      text-transform: uppercase;
      margin-bottom: 0;
      font-size: 16px;
      height: auto;
      line-height: 1.3em; }
    .blog .noticia .info .fecha {
      font-size: 11px;
      text-transform: uppercase;
      margin-bottom: 20px; }
    .blog .noticia .info p {
      font-size: 15px;
      margin-bottom: 0;
      line-height: 1.3em; }
    .blog .noticia .info a {
      color: #e75025;
      font-family: 'Proxima Nova B';
      font-size: 11px; }
  .blog .noticia .foto {
    height: 235px; }

.blog .pagination .page-link {
  color: #f1f1f1;
  margin-right: 5px;
  border-radius: 0 !important;
  min-width: 30px;
  font-size: 15px;
  text-align: center; }
  .blog .pagination .page-link:hover {
    background: #fff; }

.blog .pagination .page-item.disabled .page-link {
  color: #F7B0C0;
  border: 1px solid #F7B0C0; }

.blog .banner {
  -webkit-box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
  box-shadow: inset 24px -112px 108px 75px rgba(0, 0, 0, 0.6);
  min-height: 500px; }
  .blog .banner h1.titulo {
    font-size: 47px;
    color: #F7B0C0;
    height: auto;
    line-height: 1em;
    margin-bottom: 0; }
  .blog .banner .fecha {
    color: #fff;
    font-size: 12px;
    font-family: 'Proxima Nova Lt'; }
  @media (max-width: 767px) {
    .blog .banner {
      height: 450px; } }

.blog .comparte .linea {
  width: 100%;
  float: right; }
  @media (max-width: 991) {
    .blog .comparte .linea {
      width: 100%; } }

.blog .comparte .txt {
  width: 70%; }
  @media (max-width: 991) {
    .blog .comparte .txt {
      width: 50%; } }

.blog .comparte-list {
  padding: 0; }
  .blog .comparte-list li {
    width: 100%;
    list-style-type: none;
    margin-right: 2px; }
    .blog .comparte-list li a {
      width: 100%;
      display: block;
      text-align: center;
      padding: 15px;
      color: #fff;
      line-height: 1em; }
      .blog .comparte-list li a:last-child {
        margin-right: 0; }
      .blog .comparte-list li a.fb {
        background: #3b5998;
        color: #fff; }
      .blog .comparte-list li a.tw {
        background: #00acee; }
      .blog .comparte-list li a.pi {
        background: #c8232c; }
      .blog .comparte-list li a.in {
        background: #0072b1; }

.blog .post .titulo {
  font-size: 35px;
  line-height: 1.3em; }

.blog .post .txt {
  width: 100%;
  line-height: 1em; }
  .blog .post .txt span {
    font-size: 12px;
    color: #9b9b9b;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    font-family: 'Proxima Nova Rg'; }

.blog .post .contenido p {
  font-family: 'Proxima Nova Rg';
  font-size: 15px;
  line-height: 1.5em; }
