@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("fonts/ProximaNova-Regular.woff2") format("woff2"), url("fonts/ProximaNova-Regular.woff") format("woff"), url("fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("fonts/ProximaNova-Semibold.woff2") format("woff2"), url("fonts/ProximaNova-Semibold.woff") format("woff"), url("fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Blastrick Normal';
  src: url("fonts/BlastrickNormal.woff2") format("woff2"), url("fonts/BlastrickNormal.woff") format("woff"), url("fonts/BlastrickNormal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Authenia';
  src: url("fonts/Authenia-Regular.woff2") format("woff2"), url("fonts/Authenia-Regular.woff") format("woff"), url("fonts/Authenia-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova B';
  src: url("fonts/ProximaNova-Bold.woff2") format("woff2"), url("fonts/ProximaNova-Bold.woff") format("woff"), url("fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

body {
  font-family: "Proxima Nova Rg";
  color: #464C27;
  font-size: 14px; }
a:hover{
text-decoration: none;
}
.semi, h1.semi {
  font-weight: normal;
  font-family: "Proxima Nova Lt"; }

*:focus, button:focus {
  outline: none; }

.fp-section, .st1, .st0 {
  transition: all 0.4s; }

.prev .icon-up-open-big {
  font-size: 5px;
  position: absolute;
  left: -15px;
  top: 4px;
  transform: rotateZ(90deg); }

.next .icon-up-open-big {
  font-size: 5px;
  position: absolute;
  right: -15px;
  top: 2px;
  transform: rotateZ(-90deg); }

form {
  margin-top: 20px; }
  form .d-flex:first-child input {
    margin-left: 7px; }
  form label {
    margin-bottom: 0;
    line-height: 1em;
    letter-spacing: 2px; }
  form input[type="text"], form input[type="email"] {
    border: 0;
    border-bottom: 1px dotted #464C27; }
  form input[type="submit"] {
    width: 100%;
    padding: 3px;
    margin-top: 30px;
    font-size: 13px;
    border: 1px solid #464C27;
    background-color: #fff;
    letter-spacing: 1px; }

@media (max-width: 992px) {
  .nav .navbar {
    background-color: white; }
  .nav .navbar-toggler div {
    background-color: #464C27 !important; } }

.nav .navbar-brand {
  margin-left: 35px; }

.nav .navbar-collapse {
  justify-content: flex-end; }

.nav .navbar-light .navbar-toggler {
  border: 0; }

.nav .navbar-toggler div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: all 0.3s; }

.nav .navbar-toggler.cerrar div {
  transform: rotateZ(45deg); }
  .nav .navbar-toggler.cerrar div:first-child {
    opacity: 0; }
  .nav .navbar-toggler.cerrar div:last-child {
    transform: rotateZ(-45deg);
    margin-top: -9px; }

.nav ul {
  text-align: right; }
  .nav ul li {
    display: inline-block;
    font-family: "Proxima Nova Rg";
    margin: 0 20px; }
    @media (max-width: 992px) {
      .nav ul li {
        margin: 0; } }
    .nav ul li:last-child {
      margin-right: 35px; }
    .nav ul li:first-child {
      margin-left: 0; }
    .nav ul li.active a {
      color: #FAB0C0; }
    .nav ul li small a {
      font-size: 12px; }
    .nav ul li small .active-lang {
      color: #F7B0C0; }
    .nav ul li a {
      transition: all 0.5s;
      color: white;
      font-size: 13px; }
      @media (max-width: 767px) {
        .nav ul li a {
          color: #464C27; } }
      .nav ul li a:hover {
        text-decoration: none; }
      @media (max-width: 992px) {
        .nav ul li a {
          padding: 10px;
          width: 100%;
          display: block;
          text-align: left; } }

section.intro img {
  height: 55vh;
  max-height: 380px; }
  @media screen and (max-width: 1024px) {
    section.intro img {
      height: auto;
      max-width: 500px;
      padding: 40px; } }
  @media (max-width: 767px) {
    section.intro img {
      max-width: 320px;
      padding: 0 15px;
      margin-top: -60px; } }

section.intro .jump {
  color: #464C27; }
  section.intro .jump p {
    margin-bottom: 0; }
  section.intro .jump a:after {
    color: #464C27;
    font-size: 12px; }

.modal-backdrop.show {
  opacity: 0; }

.cristina-mata {
  position: relative; }
  @media (max-width: 992px) {
    .cristina-mata {
      padding-top: 60px; } }
  .cristina-mata .bg-1 {
    height: calc(40vh - 70px);
    position: absolute;
    right: 0;
    top: 57px;
    right: -4px; }
    .cristina-mata .bg-1 img {
      height: 100%; }
    @media (max-width: 1024px) {
      .cristina-mata .bg-1 {
        width: 60px;
        overflow: hidden;
        right: 0; } }
  .cristina-mata .bg-2 {
    height: calc(37vh);
    position: absolute;
    right: 0;
    bottom: 57px;
    right: -12px; }
    .cristina-mata .bg-2 img {
      height: 100%; }
    @media (max-width: 1024px) {
      .cristina-mata .bg-2 {
        width: 60px;
        overflow: hidden;
        right: 0; } }
  .cristina-mata .foto {
   /* background-image: url("../img/bg-cristina.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;*/
    height: 80vh;
    padding: 40px;
    position: relative; }
    @media (max-width: 992px) {
      .cristina-mata .foto {
        margin-top: 60px;
        margin-bottom: 60px;
        height: auto; } }
    .cristina-mata .foto img {
      /* height: 75vh; */
      /* max-width: initial; */
      position: absolute;
      left: 0;
      /* height: 70%; */
      /*max-width: 75%;*/
      max-height: 90%;
      right: 0;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%); }
      @media (max-width: 992px) {
        .cristina-mata .foto img {
          position: relative;
          transform: translateY(0);
          top: auto; } }
  .cristina-mata .text-justify {
    padding: 0 80px 0 40px;
    line-height: 1.3em;
    font-size: 10.3pt; }
    .cristina-mata .text-justify h1 {
      font-family: 'Authenia';
      font-size: 65px; }
    .cristina-mata .text-justify small {
      letter-spacing: 2px; }
    @media screen and (max-width: 1200px) {
      .cristina-mata .text-justify {
        padding: 0 40px 0 20px; }
        .cristina-mata .text-justify h1 {
          line-height: 1.3em;
          font-size: 52px;
          letter-spacing: 4px;
          height: auto; } }
    @media (max-width: 992px) {
      .cristina-mata .text-justify {
        padding: 0 15px;
        padding-bottom: 60px; } }

.fp-viewing-Story-0 .nav li a {
  color: rgba(70, 76, 39, 0.4) }
.fp-viewing-Story-0 .fp-slidesNav li:last-child .next,.fp-viewing-Story-1 .fp-slidesNav li .prev{
    display: none;
}
.fp-viewing-Story-0 .fp-slidesNav li .next{
  right: -75px;
}
.fp-viewing-Story-1 .fp-slidesNav li:first-child .prev{
  left: -75px;
  display: block;
}
.fp-viewing-Story-1 .fp-slidesNav li .next{
  display: none;
}
.fp-viewing-Story-1 .fp-slidesNav ul li:last-child a .next{
  right: -45px;
  display: block;
  color: rgba(70, 76, 39, 0.4);
}
.fp-viewing-Story-2 .fp-slidesNav ul li a .prev{
  display: block;
  left:-100px;
  color: rgba(70, 76, 39, 0.4)
}
.fp-viewing-Story-2 .fp-slidesNav ul li:first-child a .prev,.fp-viewing-Story-2 .fp-slidesNav ul li:last-child a .prev{
  display: none;
}
.fp-viewing-Story-2 .navbar-nav a.active{
  color:#fff;
}

.fp-viewing-Story-0 .nav li small .active-lang {
  color: #F7B0C0; }

.fp-viewing-Story-0 #fp-nav ul li a span, .fp-viewing-Story-0 .fp-slidesNav ul li a span {
  background: rgba(70, 76, 39, 0.4); }

.fp-viewing-Story-0 #fp-nav ul li a.active span, .fp-viewing-Story-0 .fp-slidesNav ul li a.active span, .fp-viewing-Story-0 #fp-nav ul li:hover a.active span, .fp-viewing-Story-0 .fp-slidesNav ul li:hover a.active span {
  background: transparent; }

.fp-viewing-Story-0 .navbar-toggler div {
  background-color: black; }

.fp-viewing-Story-0 .fp-slidesNav ul li a .next, .fp-viewing-Story-0 .fp-slidesNav ul li a .prev {
  color: rgba(70, 76, 39, 0.4) }

.fp-viewing-Story-0 .fp-slidesNav ul li a .prev {
  display: none; }

.fp-viewing-Story-0 .next .icon-up-open-big:after {
  color: rgba(70, 76, 39, 0.4) !important; }

.fp-viewing-Story-1 .fp-section {
  background: #F7B0C0 !important; }

.fp-viewing-Story-1 .st1 {
  fill: #464C27;
  stroke: #F7B0C0; }

.fp-viewing-Story-1 .st0 {
  fill: #E75125; }

.fp-viewing-Story-1 .nav li.active a {
  color: #fff; }

  .fp-viewing-Story-2 .fp-section {
  background: #F7B0C0 !important; }

.fp-viewing-Story-2 .st1 {
  fill: #464C27;
  stroke: #F7B0C0; }

.fp-viewing-Story-2 .st0 {
  fill: #E75125; }

.fp-viewing-Story-2 .nav li.active a {
  color: #fff; }
  @media (max-width: 767px) {
    .fp-viewing-Story-1 .nav li.active a {
      color: #F7B0C0; } }

.fp-viewing-Story-1 .nav li a,.fp-viewing-Story-2 .nav li a {
  color: rgba(70, 76, 39, 0.4); }

.fp-viewing-Story-1 .nav li small .active-lang {
  color: white; }

.fp-viewing-Story-1 #fp-nav ul li a span, .fp-viewing-Story-1 .fp-slidesNav ul li a span {
  background: rgba(70, 76, 39, 0.4); }

.fp-viewing-Story-1 #fp-nav ul li a.active span {
  border-color: white; }

.fp-viewing-Story-1 #fp-nav ul li a.active span, .fp-viewing-Story-1 .fp-slidesNav ul li a.active span, .fp-viewing-Story-1 #fp-nav ul li:hover a.active span, .fp-viewing-Story-1 .fp-slidesNav ul li:hover a.active span {
  background: transparent;
  border-color: white; }

.fp-viewing-Story-1 .fp-slidesNav ul li a .prev {
  color: rgba(70, 76, 39, 0.4); }

.fp-viewing-Story-1 .fp-slidesNav ul li a .next {
  display: none;
  z-index: -1; }

.fp-viewing-Story-1 .prev .icon-up-open-big:after {
  color: rgba(70, 76, 39, 0.4) }

 /* .fp-viewing-Story-2 .nav li.active a {
      color: #F7B0C0; }*/ }

.fp-viewing-Story-2 .nav li a {
  color: rgba(70, 76, 39, 0.4); }

.fp-viewing-Story-2 .nav li small .active-lang {
  color: white; }

.fp-viewing-Story-2 #fp-nav ul li a span, .fp-viewing-Story-2 .fp-slidesNav ul li a span {
  background: rgba(70, 76, 39, 0.4) }

.fp-viewing-Story-2 #fp-nav ul li a.active span {
  border-color: white; }

.fp-viewing-Story-2 #fp-nav ul li a.active span, .fp-viewing-Story-2 .fp-slidesNav ul li a.active span, .fp-viewing-Story-2 #fp-nav ul li:hover a.active span, .fp-viewing-Story-2 .fp-slidesNav ul li:hover a.active span {
  background: transparent;
  border-color: white; }

.fp-viewing-Story-2 .fp-slidesNav ul li a .prev {
  color: rgba(70, 76, 39, 0.4); }

.fp-viewing-Story-2 .fp-slidesNav ul li a .next {
  display: none;
  z-index: -1; }

.fp-viewing-Story-2 .prev .icon-up-open-big:after {
  color: rgba(70, 76, 39, 0.4) !important; }
.mision-vision .titulos{
margin-left: 35px;
position: relative;
}
.mision-vision .info {
  background: #E85A38;
  width: 550px;
  height: 550px;
  padding: 90px 80px 0 80px;
  color: #fff;
  border-radius: 500px;
  position: relative;
  font-size: 14px;
  margin-top: 50px;
  /*transition: all 0.3s;*/
  line-height: 1.3em; }
  .mision-vision .info .mision, .mision-vision .info .vision {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    max-width: 100%; }
    @media (max-width: 992px) {
      .mision-vision .info .mision, .mision-vision .info .vision {
        position: relative;
        transform: translateY(0);
        top: auto;
        margin: 0 auto;
        text-align: left;
        max-width: 90%;
        padding: 35px 15px 25px; }
        .submenu{
          position: relative;
          opacity: 1;
          top: 0;
          left: 0;
          } 

        }
  .mision-vision .info .mision p:nth-child(2) {
    max-width: 76%;
    margin: 0 auto 20px; }
  .mision-vision .info .mision p:nth-child(3) {
    max-width: 80%;
    margin: 0 auto 20px; }
  .mision-vision .info .mision p:nth-child(4) {
    max-width: 74%;
    margin: 0 auto 0px; }
  @media (max-width: 767px) {
    .mision-vision .info .mision p {
      max-width: 100% !important; } }
  .mision-vision .info .vision p:nth-child(2) {
    max-width: 61%;
    margin: 0 auto 20px; }
  .mision-vision .info .vision p:nth-child(3) {
    max-width: 79%;
    margin: 0 auto 20px; }
  .mision-vision .info .vision p:nth-child(4) {
    max-width: 78%;
    margin: 0 auto 0px; }
    .mision-vision .info .vision p:nth-child(4) span {
      display: inline-block;
      max-width: 65%; }
  @media (max-width: 767px) {
    .mision-vision .info .vision p {
      max-width: 100% !important; } }
  .mision-vision .info:before {
    content: '';
    width: 520px;
    position: absolute;
    height: 520px;
    border: 2px dotted #464C27;
    border-radius: 500px;
    top: 15px;
    left: 0px;
    right: 0px;
    margin: auto; }
    @media (max-width: 992px) {
      .mision-vision .info:before {
        content: '';
        width: 90%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 90%;
        border-radius: 10px; } }
    @media (max-width: 767px) {
      .mision-vision .info:before {
        height: 92%; } }
  .mision-vision .info.vision {
    background: #464C27; }
    .mision-vision .info.vision:before {
      border-color: #F7B0C0; }
  .mision-vision .info .title {
    font-size: 25px;
    letter-spacing: 2px; }
  @media (max-width: 992px) {
    .mision-vision .info {
      margin: 0px auto 0;
      width: 100%;
      height: auto;
      border-radius: 10px;
      padding: 15px; }
      .mision-vision .info svg {
        width: 90%; } }
  @media (max-width: 767px) {
    .mision-vision .info {
      /*padding: 30px;*/
      font-size: 14px; } }

.mision-vision .titulos {
  text-align: left;
  font-size: 60px;
  padding: 90px 0 0;
  letter-spacing: 10px;
  max-width: 100%;
  line-height: 1em; }
  @media (max-width: 767px) {
    .mision-vision .titulos {
      font-size: 30px;
      padding: 0;
       } }
  .mision-vision .titulos #svg-active,.mision-vision .titulos #svg-active-2 {
    position: absolute;
    right: -35px;
    top: 70px;
    /*width: 150px;*/
    /*transition: all 0.3s;*/
    z-index: -1; }
    @media (max-width: 1366px){
      .mision-vision .titulos #svg-active,.mision-vision .titulos #svg-active-2 {
        right: -80px;
      }
    }
    @media (max-width: 767px) {
      .mision-vision .titulos #svg-active {
        z-index: 0; } }
    @media (max-width: 767px) {
      .mision-vision .titulos #svg-active {
        right: 0; } }
      .mision-vision .titulos #svg-active-2 svg .st3 {
        fill: #E85A38; }
      @media (max-width: 767px) {
        .mision-vision .titulos #svg-active-2 {
          top: 0;
          right: 0; } }
    .mision-vision .titulos #svg-active svg {
      width: 100%; }
  .mision-vision .titulos a {
    display: inline-block;
    position: relative;
    z-index: 2;
    cursor: pointer;
    color: #fff; }
    .mision-vision .titulos a.active {
      border-bottom: 2px dotted #fff; }
    .mision-vision .titulos a:hover {
      color: #fff; }

.mision-vision a {
  font-family: "Proxima Nova B";
  color: inherit; }

.fp-viewing-Ingredients-0 #fp-nav ul li a span, .fp-viewing-Ingredients-0 .fp-slidesNav ul li a span {
  background: #FEF1D4; }

.fp-viewing-Ingredients-0 #fp-nav ul li a.active span, .fp-viewing-Ingredients-0 .fp-slidesNav ul li a.active span, .fp-viewing-Ingredients-0 #fp-nav ul li:hover a.active span, .fp-viewing-Ingredients-0 .fp-slidesNav ul li:hover a.active span {
  background: transparent; }

.fp-viewing-Ingredients-0 .fp-slidesNav ul li a .next, .fp-viewing-Ingredients-0 .fp-slidesNav ul li a .prev {
  color: #FEF1D4; }

.fp-viewing-Ingredients-0 .fp-slidesNav ul li a .prev {
  display: none; }

.fp-viewing-Ingredients-0 .next .icon-up-open-big:after {
  color: #FEF1D4 !important; }

.fp-viewing-Ingredients-1 .ingredients {
  background: #33361B !important; }

.fp-viewing-Ingredients-1 #fp-nav {
  display: none; }

.fp-viewing-Ingredients-1 .fp-slidesNav ul li a .next, .fp-viewing-Ingredients-1 .fp-slidesNav ul li a .prev {
  color: #FEF1D4; }

.fp-viewing-Ingredients-1 .fp-slidesNav ul li a .next {
  display: none; }

.fp-viewing-Ingredients-1 .prev .icon-up-open-big:after {
  color: #FEF1D4 !important; }

.horizontal-scrolling.info-ingredients.fp-slide.fp-table {
  background-image: url("https://chaacfoods.com/assets/images/blog/ingredients-bg.jpg");
  background-size: cover;
  position: relative;
  background-position: bottom center; }
  @media (max-width: 992px) {
    .horizontal-scrolling.info-ingredients.fp-slide.fp-table {
      min-height: 100vh; } }
  @media (max-width: 767px) {
    .horizontal-scrolling.info-ingredients.fp-slide.fp-table {
      padding: 0 15px; } }
  @media (max-width: 992px) {
    .horizontal-scrolling.info-ingredients.fp-slide.fp-table .titulo {
      max-width: 320px;
      margin: 80px auto 0; } }
  @media (max-width: 992px) {
    .horizontal-scrolling.info-ingredients.fp-slide.fp-table .txt {
      max-width: 320px;
      margin: 0 auto;
      text-align: left;
      color: #fff;
      font-size: 16px; } }
  .horizontal-scrolling.info-ingredients.fp-slide.fp-table img.detail {
    position: absolute;
    width: 80%;
    top: 60px;
    left: 0;
    right: 0;
    max-width: 900px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      /*.horizontal-scrolling.info-ingredients.fp-slide.fp-table img.detail {
        position: relative; }*/ }
  .horizontal-scrolling.info-ingredients.fp-slide.fp-table img.full {
    height: 85vh;
    margin: 35px auto 0; }
    @media screen and (max-width: 1160px) {
      .horizontal-scrolling.info-ingredients.fp-slide.fp-table img.full {
        /*width: 95vw;
        height: auto;*/ } }
    @media (max-width: 767px) {
      /*.horizontal-scrolling.info-ingredients.fp-slide.fp-table img.full {
        height: 55vh;
        position: absolute;
        width: auto;
        top: 25vh;
        left: -9999px;
        right: -9999px; }*/ }

.cac .container-fluid {
  max-width: 1200px; }

@media (max-width: 767px) {

  .cac {
    padding: 40px 0; } }

.cac.fp-slide {
  min-height: 100vh; }

.cac .col-md-4 {
  position: relative; }
  @media (max-width: 767px) {
    .leaf-1,.leaf-2{
      display: none;
    }
    .cac .col-md-4 {
      margin-bottom: 20px; } }
  .cac .col-md-4 .linea1 {
    position: absolute;
    max-width: 85%;
    height: 0.04em;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -15px;
    background: #F7B0C0; }
    @media (max-width: 767px) {
      .cac .col-md-4 .linea1 {
        display: none; } }
  .cac .col-md-4 .linea1b {
    position: absolute;
    max-width: 85%;
    height: 1px;
    background: #F7B0C0;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -15px; }
    @media (max-width: 767px) {
      .cac .col-md-4 .linea1b {
        display: none; } }
  .cac .col-md-4 .linea2 {
    position: absolute;
    width: 1px;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    background: #F7B0C0;
    left: 0px; }
    @media (max-width: 767px) {
      .cac .col-md-4 .linea2 {
        display: none; } }
  .cac .col-md-4 .linea2b {
    position: absolute;
    width: 1px;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    background: #F7B0C0;
    right: 0px; }
    @media (max-width: 767px) {
      .cac .col-md-4 .linea2b {
        display: none; } }
    .cac .col-md-4 .linea2b:before {
      content: '';
      width: 15px;
      height: 14px;
      background-image: url("https://chaacfoods.com/assets/images/blog/flor1.svg");
      background-size: 100%;
      position: absolute;
      top: -30px;
      left: -7px; }
    .cac .col-md-4 .linea2b:after {
      content: '';
      width: 15px;
      height: 13px;
      background-image: url("https://chaacfoods.com/assets/images/blog/flor2.svg");
      background-size: 100%;
      position: absolute;
      bottom: -30px;
      left: -7px; }
  .cac .col-md-4.col-tres .linea2b:before {
    display: none; }
  .cac .col-md-4.col-tres .linea2b:after {
    display: none; }
  .cac .col-md-4 .content {
    border: 1px dotted #F7B0C0;
    height: 100%; }
    .cac .col-md-4 .content img {
      margin-bottom: 20px;
      margin-top: 20px; }
    @media (max-width: 992px) {
      .cac .col-md-4 .content {
        border: 0;
        padding: 0;
        width: 100%; } }
    @media (max-width: 767px) {
      .cac .col-md-4 .content {
        padding: 15px;
        border: 1px dotted #F7B0C0;
        width: 100%; }
        .cac .col-md-4 .content p {
          font-size: 14px; }
        .cac .col-md-4 .content img {
          max-width: 100%;
          margin-bottom: 20px; } }

.cac p {
  color: #fff;
  font-size: 15px;
  padding: 0 20px;
  line-height: 1.3em; }
  @media screen and (max-width: 1160px) {
    .cac p {
      font-size: 14px; } }
  @media (max-width: 992px) {
    .cac p {
      font-size: 12px;
      letter-spacing: 0; } }

.cac .sp-n3 {
  letter-spacing: -0.04em; }

.cac .col-uno {
  letter-spacing: -0.01em; }

.cac .col-dos {
  letter-spacing: -0.02em; }

.cac .container {
  position: relative; }

.cac .leaf {
  position: absolute;
  bottom: -60px;
  right: -50px;
  max-width: 150px; }
  @media (max-width: 992px) {
    .cac .leaf {
      max-width: 100px; } }
  @media (max-width: 767px) {
    .cac .leaf {
      bottom: -40px; } }

.fp-viewing-Products .nav li a {
  color: #464C27; }

.fp-viewing-Products .nav li small .active-lang {
  color: #F7B0C0; }

.fp-viewing-Products #fp-nav ul li a span, .fp-viewing-Products .fp-slidesNav ul li a span {
  background: rgba(70, 76, 39, 0.4); }

.fp-viewing-Products #fp-nav ul li a.active span, .fp-viewing-Products .fp-slidesNav ul li a.active span, .fp-viewing-Products #fp-nav ul li:hover a.active span, .fp-viewing-Products .fp-slidesNav ul li:hover a.active span {
  background: transparent; }

.fp-viewing-Products .navbar-toggler div {
  background-color: black; }

@media (max-width: 992px) {
  .products {
    width: 100%;
    overflow: hidden; } }

@media (max-width: 767px) {
  .products .grid {
    height: 65vh;
    /*position: absolute;
    width: auto;*/
    top: 15vh;
    /*transform: translateX(-50%); */
    } }

.grid {
  height: 85vh;
  margin-top: 35px; }
  @media screen and (max-width: 1160px) {
    .grid {
      height: 85vh;
      width: 95vw; } }

.leaf-1 {
  position: absolute;
  left: -30px;
  width: 20vw;
  -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -30deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -30deg);
  bottom: -30px; }
  .leaf-1 img {
    width: 100%; }
  @media (max-width: 767px) {
    .leaf-1 {
      width: 30vw; } }

.leaf-2 {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 20vw;
-webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 30deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 30deg);
   }
  .leaf-2 img {
    width: 100%; }
  @media (max-width: 767px) {
    .leaf-2 {
      width: 30vw; } }

.contacto {
  background-image: url("https://chaacfoods.com/assets/images/blog/bg-contact.svg");
  background-size: auto 85%;
  background-position-y: 70px;
  background-repeat: no-repeat;
  /*padding: 40px 0;*/
  background-position-x: center; }
  @media (max-width: 992px) {
    .contacto {
      background-size: 95%; } }
  @media (max-width: 767px) {
    .bg-1,.bg-2{
      display: none;
    }
    .cristina-mata .foto{
      margin-top: -20px;
      margin-bottom: 0;
      margin-top:0;
    }
    .contacto {
      background-size: cover; } }
  .contacto .message {
    margin-top: 10px; }
    .contacto .message textarea {
      width: 100%;
      border: 1px dotted #464C27;
      resize: none;
      padding: 10px;
      min-height: 100px; }
  .contacto .texto {
    padding: 20px;
    background: #fff; }
    @media (max-width: 767px) {
      .contacto .texto {
        margin: 0 auto; } }
    .contacto .texto > div {
      padding: 20px;
      border: 1px solid #464C27; }
    .contacto .texto label {
      font-size: 12px;
      letter-spacing: 1px; }
    .contacto .texto .title a {
      color: #464C27;
      font-size: 17px;
      letter-spacing: 2px; }
      .contacto .texto .title a:hover {
        text-decoration: none; }
    .contacto .texto h1 {
      line-height: 1.5em;
      letter-spacing: 2px;
      height: auto;
      font-size: 17px;
      margin-bottom: 0; }
      @media (max-width: 767px) {
        .contacto .texto h1 {
          font-size: 15px; } }

.social {
  position: absolute;
  right: 60px;
  bottom: 50px; }
  @media (max-width: 992px) {
    .social {
      bottom: 30px; } }
  @media (max-width: 767px) {
    .social {
      position: relative;
      width: 100%;
      right: auto;
      bottom: auto;
      margin-top: 40px;
      padding: 15px;
      /*background-color: white;*/ } }
  .social ul {
    padding: 0;
    margin: 0; }
    .social ul li {
      display: inline-block; }
      .social ul li img {
        width: 40px;
        height: 40px; }

.fp-viewing-Contact .nav li a {
  color: #464C27; }

.fp-viewing-Contact #fp-nav ul li a span, .fp-viewing-Contact .fp-slidesNav ul li a span {
  background: rgba(70, 76, 39, 0.4); }

.fp-viewing-Contact #fp-nav ul li a.active span, .fp-viewing-Contact .fp-slidesNav ul li a.active span, .fp-viewing-Contact #fp-nav ul li:hover a.active span, .fp-viewing-Contact .fp-slidesNav ul li:hover a.active span {
  background: transparent; }

.fp-viewing-Contact .navbar-toggler div {
  background-color: black; }

#contact {
  color: #464C27; }
  #contact label {
    font-size: 12px;
    letter-spacing: 1px; }
  #contact form input[type="submit"] {
    margin-top: 35px; }
  #contact .title {
    font-size: 13px;
    font-family: "Proxima Nova Rg";
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
    #contact .title h1 {
      font-family: "Proxima Nova Lt";
      font-weight: normal;
      line-height: 1.5em;
      height: auto;
      margin-bottom: 0px;
      font-size: 17px;
      letter-spacing: 2px; }
  #contact .modal-dialog {
    max-width: 468px;
    border: 0; }
  #contact .modal-body {
    padding: 0 5px 10px; }
  #contact .modal-header {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: -35px;
    z-index: 9; }
    #contact .modal-header .close {
      padding: 0; }
  #contact .modal-content {
    border-radius: 0;
    border: 0;
    padding: 35px;
    margin-top: 0px; }
    #contact .modal-content:before {
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      content: '';
      border: 1px solid #464C27;
      position: absolute;
      left: 20px;
      top: 20px; }
    #contact .modal-content img {
      width: 80px;
      margin-bottom: 20px;
      margin-top: 5px; }
  #contact .close img {
    width: 20px; }

@media (max-width: 992px) {
  section.fp-section,
  section .fp-tableCell, .fp-slides {
    height: auto !important;
    min-height: 100vh; }
  #fullpage {
    height: 100vh !important; } } 
.fp-viewing-Contact .menu.desktop > li:nth-child(5) a,.fp-viewing-Products .menu.desktop > li:nth-child(4) a,.fp-viewing-Ingredients-1 .menu.desktop > li:nth-child(3) a,.fp-viewing-Ingredients-0 .menu.desktop > li:nth-child(3) a, .fp-viewing-Home .menu.desktop > li:first-child a,.fp-viewing-Story-0 .menu.desktop > li:nth-child(2) > a,.fp-viewing-Story-0 .menu.desktop > li:nth-child(2) .submenu li:first-child a{
  color: #f7b5cd;
}
.fp-viewing-Story-2 .menu.desktop > li:nth-child(2) > a,.fp-viewing-Story-2 .menu.desktop > li:nth-child(2) .submenu li:nth-child(3) a,.fp-viewing-Story-1 .menu.desktop > li:nth-child(2) > a,.fp-viewing-Story-1 .menu.desktop > li:nth-child(2) .submenu li:nth-child(2) a{
  color: #fff;
}
@media (max-width: 767px) {
  .fp-slidesContainer .fp-tableCell, .fp-slides {
    display: block; }
  .fp-slidesNav {
    display: none; }
  .fp-slide.fp-table {
    display: block;
    width: 100%; }
  .fp-slidesContainer, .horizontal-scrolling {
    width: 100% !important; }
  .horizontal-scrolling.mision-vision.fp-slide.fp-table {
    background-color: #F7B0C0;
    width: 100% !important;
    display: block;
     }
  .cac .col-md-4 .content {
    border: 1px dotted #F7B0C0; }
  .cac .leaf {
    right: 0; } }

.fp-slidesNav ul li:first-child a .next, .fp-slidesNav ul li:last-child a .prev {
  display: none; }

.fp-slidesNav ul li a .prev {
  position: absolute;
  top: -4px;
  left: -70px; }

#fp-nav ul li a, .fp-slidesNav ul li a .next {
  position: absolute;
  top: -4px;
  right: -45px; }

.spinner {
  width: 100%;
  height: 100vh;
  text-align: center;
  position: absolute;
  z-index: 99999;
  background-color: #464C27; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #FAB0C0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
  margin-right: 20px;
  left: 46%; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  margin-left: 30px;
  left: 46.8%; }

.spinner .bounce3 {
  margin-left: 30px; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
.sub{
  position: relative;
}
.sub:hover .submenu{
opacity: 1;
top: 28px;
}
.submenu {
padding: 0;
position: absolute;
top:-38px;
/*background: red;*/
text-align: center;
padding: 0 14px;
left: -30px;
transition: all 0.3s;
opacity: 0;
}
.ing .submenu{
  left: -60px;
width: 200px;
}
.submenu:before {
content: '';
width: 30px;
height: 1px;
background: #fff;
position: absolute;
left: 0;
right: 0;
margin: 0 auto;
top: -3px;
}
nav ul.submenu li{
  display: block;
width: 100%;
text-align: center;
margin: 0;
}
nav ul.submenu li a{
  font-size: 11px 
  /*color:#464C27;*/
}
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
    .submenu-m{
      display: none;
    }
@media (max-width: 1200px){
  .submenu{
          position: relative;
          opacity: 1;
          top: 0!important;
          right: 0;
          left: auto;
          text-align: right;
          /*display: none;*/
          padding-right: 0;
          }
  .submenu:before{
    display: none;
  }
          nav ul.submenu li{
            text-align: right;
          }
}
@media (max-width: 1024px){
  nav ul li{
    text-align: left;
  }
  #menu.nav ul li a{
    color: #4a4a4a;
  }
  .nav small{
    display: inline-block;
  }
  #menu.nav ul li a.active-lang,#menu.nav ul li.active a{
    color: #F7B0C0;
  }
  .mision-vision .info.vision .vision p,.mision-vision .info .mision p {
max-width: 100%!important;
}
.mision-vision .info .vision p:nth-child(4) span{
            width: 100%;
            max-width: 100%;
            display: contents;
          }
}

.navbar-nav.movil{
  display: none;
}
.mobile{
  display: none;
}
@media (max-width: 767px){
  .info-ingredients .detail{
    display: none;
  }
  .detail.mobile{
    display: block;
  }
  #cac-active{
    display: none;
  }
  .full{
    display: none;
  }
  .full.mobile, .mobile{
    display: block;
  }
  #contacto{
    overflow: hidden;
  }
  .contacto .texto .cacao{
    border: 0;
    padding: 0;
    border: 0;
    width: 95px;
    position: absolute;
  }
  .top-c{
    top: -67px;
  }
  .bottom-c{
    bottom: -67px;
  }

  .right-c{
    right: -30px;
  }
  .left-c{
    left: -30px;
  }
  .contacto{
    background-image: none;
  }
  .mision-vision .titulos #svg-active, .mision-vision .titulos #svg-active-2{
    top: -100px;
    z-index: 0
  }
  .mision-vision .info .mision, .mision-vision .info .vision{
    padding-bottom: 0;
  }
  .navbar-nav.desktop,.desktop{
    display: none;
  }
  .navbar-nav.movil{
  display: block;
}
 .navbar-nav.movil li{
  display: block;
}
.nav .navbar-brand {
margin-left: 5px;
padding-top: 10px;
}
  .nav ul.submenu-m li {
    display: block;
  }
  .sub.active > a {
    padding-bottom: 0;
  }
   .nav ul.submenu-m li a{
    display: block;
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .submenu-m{
    display: block;
    padding-left: 15px;
  }
  .submenu{
    display: none;
  }
  
  .fp-slide, .fp-slidesContainer{
    height: auto;
  }
  #mision .titulos a:last-child,#vision .titulos a:first-child{
    display: none;
  }
  .sub-a{
    padding-left: 15px;
  }
  #inicio,#vision,#mision,#about,#ingredientes,#productos,#contacto{
    padding-top: 60px;
  }
  #ingredientes{
    margin-top: -60px;
  }
  .fp-viewing-Home #menu.nav ul li.sub-a a.active{
    color:#4a4a4a!important;
  }
  .fp-viewing-Home #menu.nav ul li:first-child a,.fp-viewing-Contact #menu.nav ul li:nth-child(7) a{
    color:#FAB0C0!important;
  }
  #menu.nav ul li a.active{
    color: #FAB0C0;
  }
  #productos.fp-section.fp-table,section .mision-vision .fp-tableCell,section.mision-vision .fp-slides,.horizontal-scrolling.mision-vision.fp-slide.fp-table.mision-w .fp-tableCell{
    display: block;
    min-height: auto;
    padding-top: 0;
  }
  .mision-w{
    padding-bottom: 60px;
  }
  .vision-w{
    padding-bottom: 60px;
  }
  #productos.products .grid {
  height: 65vh;
  width: auto;
  top: 15vh;
  margin-left: 50%;
transform: translateX(-49%);
  }
  #productos .fp-tableCell{
    display: block;
    min-height: auto;
    align-items: center; 
  }
  #ingredientes .fp-tableCell{
    min-height: auto;
    /*padding-bottom: 60px;*/
  }
  .horizontal-scrolling.info-ingredients.fp-slide.fp-table img.full{
    height: 60vh;
margin: 0px auto 0;
margin-left: 50%;
transform: translateX(-50%);
width: auto;
  }
  .horizontal-scrolling.info-ingredients.fp-slide.fp-table{
    min-height: auto;
  }
  .modal-dialog{
    margin: .5rem auto;
  }
  .mision-vision .info,.mision-vision .info.vision{
    background-color: transparent;
    padding: 0;
  }
  .mision-vision .info .title{
    display: none;
  }
  .horizontal-scrolling.mision-vision.fp-slide.fp-table.mision-w{
    background-color: #E85A38
  }
  .horizontal-scrolling.mision-vision.fp-slide.fp-table.vision-w{
    background-color: #464C27
  }
  .mision-vision .info:before{
    display: none;
  }
  .horizontal-scrolling.info-ingredients.fp-slide.fp-table img.detail{
    top: 20px;
    width: 100%;
    padding: 0 15px;
  }
  .cac .row.d-flex.align-items-stretch {
    padding: 0 15px;
  }
  .cac p{
    padding: 0 10px;
  }
}

.fadeInUp{
  opacity: 0;
  transform: translate3d(0,30px,0);
  -webkit-transition: all 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s;
}
.fadeIn{
  opacity: 0;
  -webkit-transition: all 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s;
}
.fadeInDown{
  opacity: 0;
  transform: translate3d(0,-5vh,0);
  -webkit-transition: all 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s;
}
.zoomIn{
  opacity: 0;
  -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
    -webkit-transition: all 1s;
    -moz-transition: all 1s ;
    -o-transition: all 1s ;
    transition: all 1s;
}
.animacion{
  opacity: 1;
}
.leaf-1.animacion,.leaf-2.animacion{
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
    transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0deg);
}
.animacion.fadeInUp,.animacion.fadeInDown{
  transform: translate3d(0,0,0);
}
.animacion.zoomIn{
  -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);

}
.delay-05s{
  transition-delay: 0.5s
}
.delay-15s{
  transition-delay: 1.5s
}
.delay-1s{
  transition-delay: 1s
}
.delay-2s{
  transition-delay: 2s
}
.delay-3s{
  transition-delay: 3s
}
.animated.delay-05s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}


