@media (max-width: 767px) {
	#inicio{
		background-color: #33361B;
		height: 100vh;
		width: 100%;
		table-layout: fixed;
    width: 100%;
	}
	#inicio > div{
		display: table-cell;
		vertical-align: middle;
	}
	.scroll-icon {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    transform: translateX(0%)
	}
	#about{
		padding-top: 0;
	}
	.mision-w{
		background-color: #e85a38
	}
	.vision-w{
		background-color: #464c20
	}
	.info-ingredients{
  background-image: url("https://chaacfoods.com/assets/images/blog/ingredients-bg.jpg");
  background-size: cover;
  position: relative;
  background-position: bottom center;
  overflow-x: hidden;
	}
	.info-ingredients .detail{
		position: absolute;
    max-width: 98%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 5vh;
	}
	.full.mobile{
    display: block;
    width: 180%;
    /* top: 15vh; */
    margin-left: 50%;
    transform: translateX(-48%);
}
a.jump-link{
	    color: #464C27;
}
.desktop{
	display: none;
}

	#cac{
background-color: #33361B;
	}
	#productos{
		padding-bottom: 60px;
	}
	#contacto {
    	padding-top: 110px;
	}

}